<div class="rp-header">
	<a href="/dashboard">
		<img src="{{ 'assets/images/repoot-brand.png' | theme }}" class="rp-header__brand" alt="Repoot">
	</a>

	<nav class="rp-header__nav">
		<div class="rp-header__notifications">
			<button class="rp-header__action rp-header__action--notification">
				<span class="icon icon-notification">
				</span>
				<small>
					3
				</small>
			</button>

			<div class="rp-header__dropdown rp-header__dropdown--notifications">
				{% partial 'header/header-notifications' %}
			</div>
		</div>

		<div class="rp-header__account">
			<button class="rp-header__action rp-header__action--account">
				<div class="rp-avatar rp-avatar--primary">
					<span>
						NA
					</span>
				</div>
				<span class="icon icon-angle-down">
				</span>
			</button>

			<div class="rp-header__dropdown rp-header__dropdown--account">
				{% partial 'header/header-account' %}
			</div>
		</div>

		<button class="rp-header__menu icon icon-menu">
		</button>
	</nav>

	{% partial "header/header-sidenav" %}
</div>
