.rp-header{
	width: 100%;
	height: 60px;
	position: fixed;
	top: 0;
	left: 0;
	background: white;
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-right: 100px;
	box-sizing: border-box;
	box-shadow: 0 0px 20px rgba(black, 0.1);
	&__brand{
		padding: 0 40px;
	}
	&__nav{
		display: flex;
		height: 100%;
	}
	&__action{
		width: 85px;
		height: 100%;
		background: transparent;
		border: 0;
		border-left: 1px solid #dedfe2;
		cursor: pointer;
		outline: none;
		&--notification{
			font-size: 30px;
			.icon{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-size: 26px;
				color: #454343;
			}
			small {
				position: absolute;
				top: 50%;
				left: 60%;
				transform: translate(0%, -120%);
				background: red;
				width: 20px;
				height: 20px;
				color: white;
				text-align: center;
				padding: 1px;
				box-sizing: border-box;
				border-radius: 20px;
				display: inline-block;
				font-size: 12px;
			}
		}
		.rp-avatar{
			max-width: 50px;
			font-size: 18px;
			font-family: 'MontSerrat';
			font-weight: 400;
		}
		.icon-angle-down{
			position: absolute;
			right: -12px;
			top: 50%;
			transform: translate(0, -50%);
			font-size: 24px;
			color: #221f1f;
		}
	}
	&__notifications,
	&__account{
		position: relative;
	}
	&__menu{
		background: transparent;
		border: 0;
		padding: 0 20px;
		font-size: 30px;
		display: none;
		border-left: 1px solid #dedfe2;
		margin-left: 20px;
		cursor: pointer;
		line-height: 70%;
		outline: none;
	}
	&__dropdown{
		position: absolute;
		top: 80%;
		left: 50%;
		transform: translate(-50%, 0);
		width: 320px;
		box-sizing: border-box;
		box-shadow: 0 0 20px rgba(black, 0.1);
		background: white;
		border: 1px solid #eee;
		border-radius: 0 0 10px 10px;
		visibility: hidden;
		opacity: 0;
		transition: .3s $ease-primary;
		&.is-active{
			top: 110%;
			visibility: visible;
			opacity: 1;
		}
		&:before{
			content: "";
			position: absolute;
			bottom: 100%;
			left: 50%;
			transform: translate(-50%, 0);
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-bottom: 5px solid white;
			width: 0;
			height: 0;
			display: block;
		}
		&--account{
			width: 230px;
		}
	}

	@include grid-media($smartphone-grid){
		padding-right: 0;
		.rp-header{
			&__brand{
				padding: 0 20px;
			}
			&__menu{
				display: block;
			}
			&__dropdown--account{
				left: initial;
				right: 0;
				transform: translate(0, 0);
				width: 280px;
				&:before{
					left: initial;
					right: 30px;
				}
			}
		}
	}
}
