<div class="rp-header-account">
	<header class="rp-header-account__header">
		<div class="rp-avatar rp-avatar--primary">
			<span>
				NA
			</span>
		</div>
		<span class="rp-header-account__name">
			Nau Frutos do Mar
		</span>
	</header>

	<nav class="rp-header-account__nav">
		<a href="/account#profile" class="rp-header-account__link">
			Configuração da Conta
		</a>
		<a href="/account#payment" class="rp-header-account__link">
			Dados de Pagamento
		</a>
	</nav>

	<footer class="rp-header-account__footer">
		<a href="/auth/logout" class="rp-header-account__link">
			Logout
		</a>
	</footer>
</div>
