<aside class="rp-header-sidenav">
	<nav class="rp-header-sidenav__nav">
		<div class="rp-header-sidenav__item">
			<a href="/dashboard" class="rp-header-sidenav__link is-active">
				<span class="icon icon-home">
				</span>
				<span class="rp-header-sidenav__label">
					Página Inicial
				</span>
			</a>
		</div>
		<div class="rp-header-sidenav__item has-child">
			<a href="#" class="rp-header-sidenav__link">
				<span class="icon icon-branches">
				</span>
				<span class="rp-header-sidenav__label">
					Filiais
				</span>
			</a>
		</div>
		<div class="rp-header-sidenav__item has-child">
			<a href="#" class="rp-header-sidenav__link">
				<span class="icon icon-bars">
				</span>
				<span class="rp-header-sidenav__label">
					Concorrentes
				</span>
			</a>
		</div>
		<div class="rp-header-sidenav__item">
			<a href="/reports" class="rp-header-sidenav__link">
				<span class="icon icon-report">
				</span>
				<span class="rp-header-sidenav__label">
					Relatórios
				</span>
			</a>
		</div>
	</nav>
</aside>
