.rp-header-notifications{
	background: white;
	&__header{
		padding: 5px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid rgb(222, 223, 226);
		button{
			text-transform: uppercase;
			font-weight: 400;
			color: #bfbfbf;
			font-family: 'MontSerrat';
			&.is-active{
				color: $c-blue;
			}
		}
	}
	&__title{
		padding: 10px;
		color: #b4b4b4;
	}
	&__filter{
		button{
			padding: 10px 5px;
			background: transparent;
			border: 0;
			cursor: pointer;
			outline: none;
			&.is-active{
				color: $c-blue;
			}
		}
	}
	&__body{
		max-height: 350px;
		overflow-y: auto;
		.rp-header-notification{
			border-bottom: 1px solid rgb(222, 223, 226);
			&:last-child{
				border-bottom: 0;
			}
		}
	}
	&__more{
		background: $c-blue;
		color: white;
		text-transform: uppercase;
		font-size: 13px;
		font-family: 'MontSerrat';
		font-weight: 500;
		width: 100%;
		padding: 13px;
		border-radius: 0 0 10px 10px;
		cursor: pointer;
		outline: none;
	}
}

.rp-header-notification{
	display: flex;
	align-items: center;
	padding: 10px;
	position: relative;
	background: rgb(238, 238, 238);
	&__content{
		padding-right: 50px;
		&:after{
			content: "";
			position: absolute;
			top: 50%;
			right: 10px;
			background: $c-blue;
			border: 1px solid $c-blue;
			border-radius: 10px;
			width: 12px;
			height: 12px;
			transform: translate(0, -50%);
		}
	}
	&__author{
		font-size: 14px;
	}
	&__description{
		display: block;
		font-size: 13px;
		margin-bottom: 0px;
	}
	&__time{
		font-size: 12px;
	}
	.rp-avatar{
		width: 50px;
		margin-right: 10px;
		flex-shrink: 0;
	}

	// Read state
	&--read{
		background: white;
		.rp-header-notification{
			&__content{
				&:after{
					background: transparent;
				}
			}
		}
	}

}
