<div class="rp-header-notifications">
	<header class="rp-header-notifications__header">
		<span class="rp-header-notifications__title">
			Notificações
		</span>

		<div class="rp-header-notifications__filter">
			<button class="is-active">
				Todas
			</button>
			<button>
				Não visto
			</button>
		</div>
	</header>

	<div class="rp-header-notifications__body">
		<div class="rp-header-notification">
			<span class="rp-header-notification__avatar rp-avatar">
			</span>
			<div class="rp-header-notification__content">
				<span class="rp-header-notification__author">
					Fulano de tal
				</span>
				<span class="rp-header-notification__description">
					deixou uma avaliação no Tripadivisor.
				</span>
				<span class="rp-header-notification__time">
					Hoje
				</span>
			</div>
		</div>

		<div class="rp-header-notification rp-header-notification--read">
			<span class="rp-header-notification__avatar rp-avatar">
			</span>
			<div class="rp-header-notification__content">
				<span class="rp-header-notification__author">
					Fulano de tal
				</span>
				<span class="rp-header-notification__description">
					deixou uma avaliação no Tripadivisor.
				</span>
				<span class="rp-header-notification__time">
					Hoje
				</span>
			</div>
		</div>

		<div class="rp-header-notification rp-header-notification--read">
			<span class="rp-header-notification__avatar rp-avatar">
			</span>
			<div class="rp-header-notification__content">
				<span class="rp-header-notification__author">
					Fulano de tal
				</span>
				<span class="rp-header-notification__description">
					deixou uma avaliação no Tripadivisor.
				</span>
				<span class="rp-header-notification__time">
					Hoje
				</span>
			</div>
		</div>

		<div class="rp-header-notification rp-header-notification--read">
			<span class="rp-header-notification__avatar rp-avatar">
			</span>
			<div class="rp-header-notification__content">
				<span class="rp-header-notification__author">
					Fulano de tal
				</span>
				<span class="rp-header-notification__description">
					deixou uma avaliação no Tripadivisor.
				</span>
				<span class="rp-header-notification__time">
					Hoje
				</span>
			</div>
		</div>

		<div class="rp-header-notification rp-header-notification--read">
			<span class="rp-header-notification__avatar rp-avatar">
			</span>
			<div class="rp-header-notification__content">
				<span class="rp-header-notification__author">
					Fulano de tal
				</span>
				<span class="rp-header-notification__description">
					deixou uma avaliação no Tripadivisor.
				</span>
				<span class="rp-header-notification__time">
					Hoje
				</span>
			</div>
		</div>
	</div>

	<button class="rp-header-notifications__more">
		Ver todas as notificações
	</button>
</div>
