.rp-header-account{
	&__header{
		border-bottom: 1px solid #dedfe2;
		display: flex;
		align-items: center;
		padding: 5px 15px;
		.rp-avatar{
			max-width: 50px;
			font-size: 18px;
			font-family: 'MontSerrat';
			font-weight: 400;
			margin-right: 10px;
		}
	}
	&__name{
		font-size: 14px;
	}
	&__nav{
		padding: 15px 0;
	}
	&__link{
		padding: 5px 15px;
		display: block;
		font-size: 14px;
		color: #747272;
	}
	&__footer{
		border-top: 1px solid #dedfe2;
		padding: 15px 0;
	}
}
