.rp-header-sidenav{
	width: 120px;
	position: fixed;
	left: 0;
	top: 60px;
	bottom: 0;
	background: white;
	box-shadow: 0 5px 10px rgba(black, 0.1);
	border-top: 1px solid rgb(222, 223, 226);
	&__nav{
	
	}
	&__item{
		height: 100px;
		border-bottom: 1px solid rgb(222, 223, 226);
		text-align: center;
		position: relative;
		&.has-child{
			&:before{
				content: "h";
				position: absolute;
				font-family: "repoot";
				top: 50%;
				right: 5px;
				font-size: 20px;
				color: $c-blue;
				transform: translate(0, -50%);
			}
		}
	}
	&__link{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		padding: 20px 0;
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: row wrap;
		text-decoration: none;
		color: #665f5f;
		transition: .2s $ease-primary;
		position: relative;
		.icon{
			position: relative;
			font-size: 26px;
			transition: .3s $ease-primary;
			color: rgb(170, 170, 170);
			&.icon-home{
				font-size: 20px;
			}
			&.icon-bars{
				font-size: 20px;
			}
			&:after{
				content: "";
				width: 45px;
				height: 45px;
				position: absolute;
				left: 50%;
				top: 50%;
				z-index: -1;
				background: $c-blue;
				border-radius: 50px;
				transform: translate(-50%, -55%);
				opacity: 0;
				transition: .3s $ease-primary;
			}
		}
		&:after{
			content: "";
			position: absolute;
			top: 10px;
			bottom: 10px;
			right: 0;
			width: 2px;
			background: transparent;
			transition: .3s $ease-primary;
		}
		&:hover{
			.icon{
				color: white;
				&:after{
					opacity: 1;
				}
			}
		}
		&.is-active{
			&:after{
				background: $c-blue;
			}
		}
	}
	&__label{
		width: 100%;
		font-size: 12px;
		color: #665f5f;
		transition: .2s $ease-primary;
	}

	@include grid-media($smartphone-grid){
		left: -100%;
		transition: .3s $ease-primary;

		&.is-active{
			left: 0%;
		}
	}
}
