description = "Default layout"
==
function onStart() {
	$this->addJs('dist/panel.bundle.js');
	$this->addJs('dist/components.bundle.js');
	$this->addJs('dist/jquery.min.js');

	if (env('APP_ENV') == 'production') {
		$this->addCss('dist/css/panel.bundle.css');
		$this->addCss('dist/css/components.bundle.css');
	}
}
==
<!DOCTYPE html>
<html>
	<head>
		{% styles %}
	</head>
	<body>
		{% page %}
		{% scripts %}
		{% framework extra %}
	</body>
</html>
