{% set options = __SELF__.property('options') %}
{% set selected = __SELF__.property('selected') %}
<div class="rp-select rp-select--date rp-select--{{ __SELF__.property('size') }}"
	tabindex="0"
	data-multiple="false"
>
	<div class="rp-select__input">
		<span class="rp-select__value">
			{% for key, option in selected %}
				{{ options[key] }}
			{% endfor %}
		</span>
		<span class="icon icon-angle-down">
		</span>
	</div>

	<div class="rp-select__picker">
		<div class="rp-select__container"></div>
		<div class="rp-select__actions">
			<button class="rp-select__cancel">
				Cancelar
			</button>
			<button class="rp-select__apply">
				Aplicar
			</button>
		</div>
	</div>

	<div class="rp-select__dropdown">
		<div class="rp-select__header">
			<input type="text" class="rp-select__input" placeholder="Selecione uma opção" readonly="readonly">
		</div>

		{% for value, option in options %}
			<label class="rp-select__option">
				<input type="checkbox" name="{{ __SELF__.property('name') }}[]" value="{{ value }}" {{ selected[value] is defined ? 'checked="checked"' : ''  }}>
				<span>
					{{ option }}
				</span>
			</label>
		{% endfor %}

		<footer class="rp-select__footer">
			<label class="rp-select__option">
				<input type="checkbox" name="select[]" value="custom">
				<span>
					Personalizado
				</span>
			</label>
		</footer>
	</div>
</div>
