.rp-select--date{
	.rp-select{
		&__picker{
			position: absolute;
			top: 80%;
			left: 0px;
			visibility: hidden;
			opacity: 0;
			transition: .3s $ease-primary;
			border: 1px solid rgb(237, 237, 237);
			border-radius: 10px;
			overflow: hidden;
			z-index: 30;
		}
		&__actions{
			border-top: 1px solid rgb(233, 233, 233);
			background: white;
			text-align: right;
		}
		&__cancel,
		&__apply{
			font-size: 13px;
			text-transform: uppercase;
			font-weight: 400;
			font-family: 'MontSerrat';
			cursor: pointer;
			padding: 10px;
			border: 0;
			background: transparent;
			outline: none;
		}
		&__apply{
			color: $c-blue;
			font-weight: 600;
		}
		&__dropdown{
			padding-bottom: 0;
			input[type="text"]{
				border: 0;
				padding: 0 10px;
				outline: none;
				background: transparent;
				font-family: 'MontSerrat';
				font-size: 13px;
				width: 100%;
				box-sizing: border-box;
			}
		}
		&__footer{
			padding-top: 0;
			font-weight: 600;
			color: rgb(85, 85, 85);
		}
	}
	.date-picker-wrapper{
		padding: 0;
		border: 0;
		margin: 0;
		background: white;
		font-family: 'MontSerrat';
		.drp_top-bar{
			padding: 10px 0;
			text-align: center;
			font-size: 13px;
			span{
				&:first-child{
					display: none;
				}
			}
			b{
				font-weight: 400;
			}
			i{
				display: none !important;
			}
		}
		.month-wrapper{
			border: 0;
			padding: 0;
			background: transparent;
			table{
				thead{
					display: flex;
					flex-flow: row wrap;
					flex-direction: column-reverse;
					align-items: center;
					th{
						font-weight: 600;
						font-size: 12px;
						color: rgb(83, 83, 83);
					}
					.caption{
						height: auto;
						align-self: flex-end;
						padding: 15px 0;
						.prev:hover,
						.next:hover{
							color: $c-blue;
							background: transparent
						}
					}
					.week-name{
						background: rgb(245, 245, 245);
						height: auto;
						th{
							padding: 15px 10px;
							width: 46px;
						}
					}
				}
				tbody{
					border-top: 1px solid rgb(233, 233, 233);
					display: table;
					width: 100%;
					td{
						width: 46px;
						.day{
							font-size: 14px;
							box-sizing: border-box;
							padding: 16px 0;
							margin: 0;
							border: 0;
							position: relative;
							color: white;
							&.checked,
							&.hovering{
								background: rgb(126, 176, 248);
								color: white;
							}
							&.hovering:hover,
							&.first-date-selected,
							&.last-date-selected{
								background: $c-blue !important;
								border-radius: 999px;
								&:before{
									content: "";
									position: absolute;
									top: 0;
									width: 50%;
									height: 100%;
									background: rgb(126, 176, 248);
									z-index: -2;
								}
							}
							&.first-date-selected{
								&:before{
									right: 0;
								}
							}
							&.hovering:hover,
							&.last-date-selected{
								&:before{
									left: 0;
								}
							}
						}
					}
				}
			}
		}
		.time{
			display: none;
		}
	}
	&.is-focus{
		.rp-select{
			&__picker{
				top: 100%;
				left: 30px;
			}
		}
	}
	&.is-range.is-focus{
		.rp-select{
			&__picker{
				visibility: visible;
				opacity: 1;
				left: 0;
			}
			&__dropdown{
				visibility: hidden;
				opacity: 0;
				left: -30px;
			}
		}
	}
}
