.rp-account-profile{
	&__form,
	&__branches{
		background: white;
		border-radius: 6px;
		box-shadow: 0 0 20px rgba(black, 0.1);
		margin-top: 30px;
	}
	&__form{
		padding: 40px 100px;
		.rp-account-profile{
			&__subtitle{
				margin-bottom: 20px;
			}
		}
		.rp-text{
			width: 70%;
			margin-top: 15px;
			&:nth-child(4){
				width: 50%;
			}
		}
	}
	&__title{
		margin: 30px 0;
		font-size: 19px;
		text-transform: uppercase;
		font-weight: 400;
		color: #999;
	}
	&__subtitle{
		margin: 0 0 0;
		font-weight: 400;
		font-size: 14px;
		text-transform: uppercase;
		color: #333;
	}
	&__branches{
		margin-bottom: 40px;
		header{
			padding: 30px 65px;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		ul{
			padding: 0;
			li {
				border-top: 1px solid #dedfe2;
				list-style: none;
				padding: 10px 65px;
				display: flex;
				justify-content: space-between;
				font-size: 14px;
				button{
					border: 0;
					background: 0;
					cursor: pointer;
					font-size: 16px;
					outline: none;
				}
			}
		}
	}
	&__footer{
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-bottom: 40px;
	}

	@include grid-media($smartphone-grid){
		.rp-account-profile{
			&__form{
				padding: 30px;
			}
			&__branches{
				header{
					padding: 30px;
					flex-flow: row wrap;
					.rp-button{
						margin-top: 10px;
					}
				}
				ul{
					li{
						padding: 10px 30px;
					}
				}
			}
			&__subtitle{
				width: 100%;
			}
		}
	}
}
