.rp-account-plan{
	width: 750px;
	padding: 40px 75px;
	box-sizing: border-box;
	&__header{
		padding: 20px 0;
		margin-bottom: 10px;
	}
	&__title{
		text-transform: uppercase;
		font-size: 16px;
		text-transform: uppercase;
		font-weight: 400;
		color: #999;
		margin-bottom: 20px;
	}
	&__selection{
		border-top: 1px solid lightgray;
		border-bottom: 1px solid lightgray;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px 0;
		.rp-select{
			width: 130px;
		}
	}
	&__value{
		font-size: 22px;
		font-weight: 600;
		font-family: 'Arial';
		padding-right: 30px;
		color: #666;
		&:before{
			content: "R$";
			font-size: 14px;
			font-weight: 500;
		}
	}
	&__body{
	
	}
	&__item{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px 0;
	}
	&__subhead{
		font-weight: 600;
		font-size: 400;
		color: #666;
	}
	&__footer{
		text-align: right;
		border-top: 1px solid lightgray;
		padding-top: 30px;
		margin-top: 30px;
	}

	@include grid-media($smartphone-grid){
		width: 100%;
		padding: 20px;
		.rp-account-plan{
			&__item{
				flex-flow: row wrap;
			}
			&__subhead{
				margin-bottom: 5px;
				flex: 1 100%;
			}
		}
	}
}
