<div class="rp-account-rival">
	<h3 class="rp-account-rival__title">
		Dados do concorrente
	</h3>

	<div class="rp-account-rival__list">
		<header class="rp-account-rival__header">
			<h4 class="rp-account-rival__subtitle">
				Concorrentes
			</h4>
			<button class="rp-account-rival__add rp-button rp-button--fill rp-button--icon">
				<span class="icon icon-add">
				</span>
				Adicionar Concorrentes
			</button>
		</header>

		<ul class="rp-account-rival__items">
			<li>
				<span>
					Concorrente 1
				</span>
				<div class="rp-account-rival__actions">
					<button class="rp-account-rival__edit icon icon-settings">
					</button>
					<button class="icon icon-trash">
					</button>
				</div>
			</li>
			<li>
				<span>
					Concorrente 2
				</span>
				<div class="rp-account-rival__actions">
					<button class="rp-account-rival__edit icon icon-settings">
					</button>
					<button class="icon icon-trash">
					</button>
				</div>
			</li>
			<li>
				<span>
					Concorrente 3
				</span>
				<div class="rp-account-rival__actions">
					<button class="rp-account-rival__edit icon icon-settings">
					</button>
					<button class="icon icon-trash">
					</button>
				</div>
			</li>
			<li>
				<span>
					Concorrente 4
				</span>
				<div class="rp-account-rival__actions">
					<button class="rp-account-rival__edit icon icon-settings">
					</button>
					<button class="icon icon-trash">
					</button>
				</div>
			</li>
		</ul>
	</div>

	<div class="rp-account-rival__footer">
		<button class="rp-button rp-button--sm">
			Cancelar
		</button>
		<button class="rp-button rp-button--sm rp-button--fill">
			Salvar
		</button>
	</div>

	<div class="rp-modal rp-account-rival__modal">
		<div class="rp-modal__content">
			{% partial 'store/store-form' %}
		</div>
	</div>
</div>
