[text]
==
<div class="rp-account-profile">
	<h3 class="rp-account-profile__title">
		Dados do perfil
	</h3>

	<form class="rp-account-profile__form">
		<h4 class="rp-account-profile__subtitle">
			Dados de acesso
		</h4>

		{% component 'text' label='Nome da empresa' name='company' %}
		{% component 'text' label='Email' name='email' %}
		{% component 'text' label='Senha' type='password' %}
	</form>

	<div class="rp-account-profile__branches">
		<header>
			<h4 class="rp-account-profile__subtitle">
				Estabelecimentos
			</h4>
			<button class="rp-account-profile__add rp-button rp-button--fill rp-button--icon">
				<span class="icon icon-add">
				</span>
				Adicionar estabelecimento
			</button>
		</header>
		<ul>
			<li>
				<span>
					Estabelecimento 1
				</span>
				<div class="rp-account-profile__actions">
					<button class="rp-account-profile__edit icon icon-settings">
					</button>
					<button class="icon icon-trash">
					</button>
				</div>
			</li>
			<li>
				<span>
					Estabelecimento 1
				</span>
				<div class="rp-account-profile__actions">
					<button class="rp-account-profile__edit icon icon-settings">
					</button>
					<button class="icon icon-trash">
					</button>
				</div>
			</li>
			<li>
				<span>
					Estabelecimento 2
				</span>
				<div class="rp-account-profile__actions">
					<button class="rp-account-profile__edit icon icon-settings">
					</button>
					<button class="icon icon-trash">
					</button>
				</div>
			</li>
			<li>
				<span>
					Estabelecimento 3
				</span>
				<div class="rp-account-profile__actions">
					<button class="rp-account-profile__edit icon icon-settings">
					</button>
					<button class="icon icon-trash">
					</button>
				</div>
			</li>
			<li>
				<span>
					Estabelecimento 4
				</span>
				<div class="rp-account-profile__actions">
					<button class="rp-account-profile__edit icon icon-settings">
					</button>
					<button class="icon icon-trash">
					</button>
				</div>
			</li>
		</ul>
	</div>

	<footer class="rp-account-profile__footer">
		<button class="rp-button rp-button--sm">
			Cancelar
		</button>
		<button class="rp-button rp-button--sm rp-button--fill">
			Salvar
		</button>
	</footer>

	<div class="rp-modal rp-account-rival__modal">
		<div class="rp-modal__content">
			{% partial 'store/store-form' %}
		</div>
	</div>
</div>
