[select]
[number]
==
<form action="" method="POST" class="rp-account-plan">
	<header class="rp-account-plan__header">
		<div class="rp-account-plan__title">
			Alterar Plano
		</div>

		<div class="rp-account-plan__selection">
			{% component 'select'
				selected = {50: true}
				options = {
					50: '50 Reais',
					100: '100 Reais',
					150: '150 Reais'
				}
			%}

			<span class="rp-account-plan__value">
				150
			</span>
		</div>
	</header>

	<div class="rp-account-plan__body">
		<div class="rp-account-plan__item">
			<span class="rp-account-plan__subhead">
				Estabelecimentos
			</span>
			{% component 'number' label='Quantidade' inline=true name='stores' value='1' %}
		</div>
		<div class="rp-account-plan__item">
			<span class="rp-account-plan__subhead">
				Concorrentes
			</span>
			{% component 'number' label='Quantidade' inline=true name='rivals' value='5' %}
		</div>
	</div>

	<footer class="rp-account-plan__footer">
		<button class="rp-button rp-button--sm rp-button--fill">
			Efetuar Pagamento
		</button>
	</footer>
</form>
