.rp-account-rival{
	&__list{
		background: white;
		border-radius: 6px;
		box-shadow: 0 0 20px rgba(black, 0.1);
		margin-top: 30px;
	}
	&__title{
		margin: 30px 0;
		font-size: 19px;
		text-transform: uppercase;
		font-weight: 400;
		color: #999;
	}
	&__subtitle{
		margin: 0 0 0;
		font-weight: 400;
		font-size: 14px;
		text-transform: uppercase;
		color: #333;
	}
	&__header{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 20px 65px;
	}
	&__items{
		padding: 0 0 40px;
		list-style: none;
		li{
			border-top: 1px solid #dedfe2;
			list-style: none;
			padding: 10px 65px;
			display: flex;
			justify-content: space-between;
			font-size: 14px;
			button{
				border: 0;
				background: 0;
				cursor: pointer;
				font-size: 16px;
				outline: none;
			}
		}
	}
	&__footer{
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-bottom: 40px;
	}

	@include grid-media($smartphone-grid){
		.rp-account-rival{
			&__form{
				padding: 30px;
			}
			&__header{
				padding: 30px;
				flex-flow: row wrap;
				.rp-button{
					margin-top: 10px;
				}
			}
			&__subtitle{
				width: 100%;
			}
			&__items{
				li{
					padding: 10px 30px;
				}
			}
			&__tabs{
				@include grid-column(12);
			}
			&__tab{
				width: 100%;
			}
			&__tab-content{
				@include grid-column(12);
			}
		}
	}
}
