<div class="rp-account-payment">
	<h4 class="rp-account-payment__title">
		Dados de pagamento
	</h4>

	<div class="rp-account-payment__box">
		<h5 class="rp-account-payment__subtitle">
			Status do plano
		</h5>
		<div class="rp-account-payment__body">
			<table>
				<tr>
					<td>
						Tipo do plano escolhido
					</td>
					<td>
						<strong>Plano XYZ</strong> (2 concorrentes, 1 filial)
					</td>
					<td>
						<button class="rp-account-payment__plan">
							Alterar plano
						</button>
					</td>
				</tr>
				<tr>
					<td>
						Valor
					</td>
					<td>
						<strong>R$ 150,00</strong>
					</td>
					<td>
					</td>
				</tr>
				<tr>
					<td>
						Tipo do plano escolhido
					</td>
					<td>
						<strong>13/12/2020</strong>
					</td>
					<td>
					</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="rp-modal rp-account-payment__modal">
		<div class="rp-modal__content">
			{% partial 'account/account-plan' %}
		</div>
	</div>

	<div class="rp-account-payment__box">
		<h5 class="rp-account-payment__subtitle">
			Histórico de pagamento
		</h5>

		<div class="rp-account-payment__body">
			<div class="rp-account-payment__row">
				<div class="rp-account-payment__column">
					<span class="rp-account-payment__subhead">
						Data
					</span>
				</div>
				<div class="rp-account-payment__column">
					<span class="rp-account-payment__subhead">
						Status
					</span>
				</div>
				<div class="rp-account-payment__column">
					<span class="rp-account-payment__subhead">
						Valor
					</span>
				</div>
				<div class="rp-account-payment__column">
					<span class="rp-account-payment__subhead">
					</span>
				</div>
			</div>

			<div class="rp-account-payment__item">
				<div class="rp-account-payment__row">
					<div class="rp-account-payment__column">
						<span class="rp-account-payment__date">
							22/10/2019
						</span>
					</div>
					<div class="rp-account-payment__column">
						<span class="rp-account-payment__status rp-account-payment__status--open">
							Aberto
						</span>
					</div>
					<div class="rp-account-payment__column">
						<span class="rp-account-payment__value">
							R$ 150,00
						</span>
					</div>
					<div class="rp-account-payment__column">
						<button class="rp-account-payment__toggle">
							Ver Detalhes
						</button>
					</div>
				</div>

				<div class="rp-account-payment__accordion">
					<div class="rp-account-payment__detail">
						<div>
							<small>
								Tipo de plano escolhido
							</small>
							<strong>
								Plano XYZ (2 concorrentes, 1 filial)
							</strong>
						</div>
						<button class="rp-button rp-button--fill rp-button--sm">
							Efetuar Pagamento
						</button>
					</div>
				</div>
			</div>
			<div class="rp-account-payment__item">
				<div class="rp-account-payment__row">
					<div class="rp-account-payment__column">
						<span class="rp-account-payment__date">
							22/10/2019
						</span>
					</div>
					<div class="rp-account-payment__column">
						<span class="rp-account-payment__status rp-account-payment__status--payed">
							Pago
						</span>
					</div>
					<div class="rp-account-payment__column">
						<span class="rp-account-payment__value">
							R$ 150,00
						</span>
					</div>
					<div class="rp-account-payment__column">
						<button class="rp-account-payment__toggle">
							Ver Detalhes
						</button>
					</div>
				</div>

				<div class="rp-account-payment__accordion">
					<div class="rp-account-payment__detail">
						<div>
							<small>
								Tipo de plano escolhido
							</small>
							<strong>
								Plano XYZ (2 concorrentes, 1 filial)
							</strong>
						</div>
						<button class="rp-button rp-button--fill rp-button--sm">
							Efetuar Pagamento
						</button>
					</div>
				</div>
			</div>

			<div class="rp-account-payment__item">
				<div class="rp-account-payment__row">
					<div class="rp-account-payment__column">
						<span class="rp-account-payment__date">
							22/10/2019
						</span>
					</div>
					<div class="rp-account-payment__column">
						<span class="rp-account-payment__status rp-account-payment__status--pending">
							Pendente
						</span>
					</div>
					<div class="rp-account-payment__column">
						<span class="rp-account-payment__value">
							R$ 150,00
						</span>
					</div>
					<div class="rp-account-payment__column">
						<button class="rp-account-payment__toggle">
							Ver Detalhes
						</button>
					</div>
				</div>

				<div class="rp-account-payment__accordion">
					<div class="rp-account-payment__detail">
						<div>
							<small>
								Tipo de plano escolhido
							</small>
							<strong>
								Plano XYZ (2 concorrentes, 1 filial)
							</strong>
						</div>
						<button class="rp-button rp-button--fill rp-button--sm">
							Efetuar Pagamento
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
