.rp-account-payment{
	margin-bottom: 40px;
	&__box,
	&__history{
		background: white;
		border-radius: 6px;
		box-shadow: 0 0 20px rgba(black, 0.1);
		margin-top: 30px;
		padding: 30px;
	}
	&__title{
		margin: 30px 0;
		font-size: 19px;
		text-transform: uppercase;
		font-weight: 400;
		color: #999;
	}
	&__subtitle{
		margin: 0 0 0;
		font-weight: 600;
		font-size: 14px;
		color: #333;
	}
	&__body{
		padding: 20px;
	}
	&__item{
		border-bottom: 1px solid #e5e5e5;
	}
	&__row{
		display: flex;
		align-items: center;
		padding: 10px 0;
	}
	&__column{
		flex: 1 25%;
		color: #333;
	}
	&__subhead{
		font-size: 13px;
	}
	&__date,
	&__value{
		font-size: 13px;
		font-weight: 600;
		color: #999;
	}
	&__status{
		font-size: 13px;
		font-weight: 600;
		&--payed{
			color: $c-green;
		}
		&--open{
			color: $c-yellow;
		}
		&--pending{
			color: $c-red;
		}
	}
	&__toggle,
	&__plan{
		background: transparent;
		border: 0;
		color: $c-blue;
		font-family: 'MontSerrat';
		font-size: 13px;
		padding: 0;
		cursor: pointer;
		outline: none;
	}
	&__accordion{
		display: none;
	}
	&__detail{
		padding: 30px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		strong,
		small{
			display: block;
			padding: 5px 0;
		}
		small{
			font-size: 12px;
		}
		strong{
			font-size: 13px;
		}
	}
	&__past{
		width: 100%;
		tbody{
			td{
				border-top: 1px solid #e5e5e5;
				width: 25%;
			}
		}
	}
	table{
		width: 100%;
		thead{
			th{
				text-align: left;
				font-size: 13px;
				font-weight: 400;
			}
		}
		tr{
		
		}
		td{
			color: #999;
			font-size: 13px;
			padding: 10px 0;
			strong{
				color: #333;
			}
		}
	}

	@include grid-media($smartphone-grid){
		.rp-account-payment{
			&__subtitle{
				margin-bottom: 10px;
			}
			&__body{
				padding: 0;
			}
			&__detail{
				flex-flow: row wrap;
				.rp-button{
					margin-top: 10px;
				}
			}
		}
	}
}
