<div class="rp-filters">
	<div class="rp-filters__wrapper">
		<button class="rp-filters__add">
			<span class="icon icon-add"></span>
			Adicionar filtro
			<span class="icon icon-angle-down"></span>
		</button>
		<div class="rp-filters__dropdown">
			<button data-value="keyword" class="rp-filters__option">
				Palavra chave
			</button>
			<button data-value="created_at" class="rp-filters__option">
				Criado em
			</button>
			<button data-value="range" class="rp-filters__option">
				Período de data
			</button>
		</div>
	</div>
</div>
