.rp-filters{
	&__add{
		border: 2px dashed rgb(195, 195, 195);
		background: rgb(247, 247, 247);
		color: rgb(159, 159, 159);
		border-radius: 10px;
		padding: 10px 30px;
		cusor: pointer;
		font-family: 'MontSerrat';
		font-size: 14px;
		width: 260px;
		max-width: 100%;
		box-sizing: border-box;
		position: relative;
		text-align: left;
		cursor: pointer;
		transition: .3s $ease-primary;
		outline: none;
		&:hover{
			background: $c-blue;
			color: white;
			border-color: $c-blue;
			.icon-angle-down{
				color: white;
			}
		}
		.icon{
			position: absolute;
			top: 50%;
			line-height: 70%;
			transform: translate(0, -50%);
		}
		.icon-add{
			left: 10px;
		}
		.icon-angle-down{
			right: 10px;
			color: $c-blue;
			font-size: 22px;
			transition: color .3s $ease-primary;
		}
	}
	&__wrapper{
		position: relative;
	}
	&__dropdown{
		position: absolute;
		top: 80%;
		left: 0;
		width: 100%;
		visibility: hidden;
		opacity: 0;
		transition: .3s $ease-primary;
		background: white;
		padding: 10px 0;
		z-index: 50;
		max-width: 300px;
		min-width: 200px;
		border-radius: 10px;
		border: 1px solid rgb(237, 237, 237);
	}
	&__option{
		display: block;
		padding: 10px;
		box-sizing: border-box;
		width: 100%;
		font-size: 13px;
		cursor: pointer;
		transition: .3s $ease-primary;
		background: transparent;
		border: 0;
		font-family: 'MontSerrat';
		text-align: left;
		&:hover{
			background: rgb(238, 238, 238);
		}
		span{
			transition: .3s $ease-primary;
		}
		input[type="checkbox"]{
			display: none;
			&:checked {
				+ span{
					color: $c-blue;
				}
			}
		}
	}
	&.is-focus{
		.rp-filters{
			&__dropdown{
				top: 100%;
				opacity: 1;
				visibility: visible;
			}
		}
	}
}
