.rp-account{
	&__title{
		text-align: center;
		font-size: 24px;
		font-weight: 400;
		text-transform: uppercase;
		color: #999;
		letter-spacing: 2px;
		margin: 30px 0;
	}
	&__tabs{
		border-bottom: 1px solid lightgray;
		text-align: center;
		padding-bottom: 20px;
		@include grid-column(10);
		@include grid-push(1);
	}
	&__tab-content{
		display: none;
		@include grid-column(8);
		@include grid-push(2);
		&.is-active{
			display: block;
		}
	}

	@include grid-media($smartphone-grid){
		.rp-account{
			&__tabs{
				@include grid-column(12);
			}
			&__tab{
				width: 100%;
			}
			&__tab-content{
				@include grid-column(12);
			}
		}
	}
}
