title = "Minha conta"
url = "/account"
layout = "default"
is_hidden = 0
==
<div class="rp-account">
	<h2 class="rp-account__title">
		Configuração da Conta
	</h2>

	<nav class="rp-account__tabs">
		<button class="rp-button rp-account__tab is-active rp-button--outline" data-target="#profile">
			Dados do perfil
		</button>
		<button class="rp-button rp-account__tab" data-target="#rival">
			Dados do concorrente
		</button>
		<button class="rp-button rp-account__tab" data-target="#payment">
			Dados de pagamento
		</button>
	</nav>

	<div id="profile" class="rp-account__tab-content is-active">
		{% partial 'account/account-profile' %}
	</div>
	<div id="rival" class="rp-account__tab-content">
		{% partial 'account/account-rival' %}
	</div>
	<div id="payment" class="rp-account__tab-content">
		{% partial 'account/account-payment' %}
	</div>
</div>
