.rp-dashboard{
	padding: 30px;
	background: rgb(250, 250, 250);
	.rp-dashboard-overview,
	.rp-dashboard-social,
	.rp-dashboard-reviews,
	.rp-dashboard-evaluation{
		margin-bottom: 40px;
		@include grid-container;
	}
	&__header{
		display: flex;
		justify-content: center;
		margin-bottom: 40px;
		.rp-select{
			width: 260px;
		}
	}
	&__title{
		font-weight: 400;
		text-transform: uppercase;
		font-size: 22px;
		color: #acacac;
		margin: 30px 0;
	}

	@include grid-media($smartphone-grid){
		overflow: hidden;
		.rp-dashboard{
			&__title{
				@include grid-column(12);
			}
		}
	}
}

.rp-dashboard-widget{
	box-sizing: border-box;
	box-shadow: 0 0 20px rgba(black, 0.1);
	background: white;
	border: 1px solid #eee;
	border-radius: 10px;
}
