title = "Dashboard"
url = "/dashboard"
layout = "default"
is_hidden = 0
[select]
==
function onStart () {
	$this['companies'] = [
		0 => 'Nau Frutos do Mar',
		1 => 'Tererê',
		2 => 'Toca do Caju'
	];
}
==
<div class="rp-dashboard">
	<div class="rp-dashboard__header">
		{% component 'select' options=companies selected={0: true} %}
	</div>

	{% partial 'dashboard/dashboard-overview' %}
	{% partial 'dashboard/dashboard-social' %}
	{% partial 'dashboard/dashboard-reviews' %}
	{% partial 'dashboard/dashboard-evaluation' %}
	{% partial 'dashboard/dashboard-branches' %}
</div>
