.rp-home{
	height: 100%;
	&__container{
		@include outer-container;
	}
	&__title{
		font-size: 48px;
		font-weight: 600;
		color: rgb(83, 84, 83);
		font-family: 'RNSCamelia';
	}
	&__body{
		font-size: 13px;
		line-height: 150%;
	}

	@include grid-media($smartphone-grid){
		.rp-home{
			&__title{
				font-size: 30px;
			}
			&__body{
				font-size: 12px;
			}
		}
	}
}

.rp-home-featured{
	height: 100%;
	background-image: url(/themes/repoot/assets/images/featured-bg.jpg);
	background-size: cover;
	background-position: center;
	text-align: center;
	padding-bottom: 60px;
	box-sizing: border-box;
	display: flex;
	color: white;
	align-items: flex-end;
	&__title{
		font-size: 68px;
		font-weight: 600;
		font-family: 'RNSCamelia';
		text-transform: uppercase;
		margin: 0;
	}
	&__description{
		font-size: 20px;
		font-weight: 500;
	}
	.rp-button{
		margin-top: 10px;
		background: $c-green;
		text-transform: normal;
	}

	@include grid-media($smartphone-grid){
		padding-top: 60px;
		height: auto;
		.rp-home-featured{
			&__title{
				font-size: 30px;
			}
		}
	}
}

.rp-home-services{
	@include grid-container;
	&__item{
		background: white;
		border-radius: 15px;
		padding: 90px 40px;
		box-sizing: border-box;
		text-align: center;
		cursor: pointer;
		transition: box-shadow .3s $ease-primary;
		box-shadow: 0 0 4px rgba(black, 0.05);
		@include grid-column(4);
		&:hover{
			box-shadow: 0 20px 20px rgba(black, 0.1);
		}
		img{
			//
		}
	}
	&__title{
		color: $c-green;
		font-weight: 500;
		font-size: 20px;
		line-height: 150%;
	}
	.rp-home{
		&__title{
			text-align: center;
		}
	}

	@include grid-media($smartphone-grid){
		.rp-home-services{
			&__item{
				padding: 20px 40px;
				margin-bottom: 20px;
				@include grid-column(12);
				img{
					width: 60px;
				}
			}
			&__title{
				font-size: 14px;
			}
		}
	}
}

.rp-home-preview{
	&__section{
		background-repeat: no-repeat;
		padding: 100px 0;
		box-sizing: border-box;
		position: relative;
		&--desktop{
			height: 560px;
			.rp-home-preview{
				&__content{
					@include grid-column(4);
					@include grid-push(6);
				}
				&__desktop{
					right: 45%;
					z-index: 1;
				}
				&__brand{
					top: 100%;
					left: 45%;
					transform: translate(-50%, 0);
				}
			}
			.rp-home{
				&__container{
					//
				}
			}
		}
		&--smartphone{
			overflow: hidden;
			height: 780px;
			display: flex;
			align-items: center;
			.rp-home-preview{
				&__content{
					text-align: right;
					padding-top: 100px;
					@include grid-column(6);
				}
				&__smartphone{
					left: 53%;
					z-index: 1;
				}
				&__brand{
					left: 72%;
					bottom: 20%;
					transform: scaleX(-1);
				}
			}
			.rp-home{
				&__container{
					justify-content: flex-start;
					flex-shrink: 0;
					flex: 1 100%;
				}
			}
		}
	}
	&__desktop,
	&__smartphone,
	&__brand{
		position: absolute;
	}
	&__link{
		color: $c-green;
		font-weight: 600;
		font-family: 'RNSCamelia';
		text-decoration: underline;
	}
	.rp-home{
		&__container{
			display: flex;
		}
		&__title{
			margin-bottom: 30px;
			font-size: 50px;
		}
		&__body{
			font-size: 14px;
			margin-bottom: 30px;
		}
	}

	@include grid-media($smartphone-grid){
		text-align: center;
		.rp-home-preview{
			&__section{
				&--smartphone{
					height: auto;
					flex-flow: row wrap;
					padding: 30px 0;
					.rp-home-preview{
						&__content{
							text-align: center;
							padding: 0;
						}
						&__brand{
							left: 50%;
							top: 40px;
							transform: scaleX(1);
						}
					}
				}
				&--desktop{
					height: auto;
					padding: 30px 0;
					.rp-home-preview{
						&__brand{
							left: 0;
							top: -50px;
							z-index: -1;
						}
					}
				}
			}
			&__content{
				@include grid-column(12);
			}
			&__brand{
				width: 100%;
			}
			&__desktop{
				position: static;
				width: 100%;
			}
			&__smartphone{
				position: static;
				width: 50%;
				margin: auto;
			}
		}
		.rp-home{
			&__container{
				justify-content: flex-start;
			}
			&__title{
				font-size: 18px;
			}
		}
	}
}

.rp-home-plans{
	background: white;
	padding: 30px 0 100px;
	.rp-home__title{
		text-align: center;
	}
	.rp-plan{
		@include grid-column(4);
	}
	@include grid-media($smartphone-grid){
		.rp-plan{
			margin-bottom: 30px;
			@include grid-column(12);
		}
	}
}

.rp-home-ebook{
	background-color: $c-yellow;
	background-image: url(~@/assets/images/ebook-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 40px 0;
	@include grid-container;
	&__form{
		background: linear-gradient(to right, rgba(white, 0.1) 0%, rgba(white, 0.2) 100%);
		border-radius: 15px;
		padding: 40px;
		box-sizing: border-box;
		@include grid-column(5);
	}
	&__title{
		font-size: 50px;
		margin: 0 0 20px;
		color: white;
		font-family: 'RNSCamelia';
	}
	.rp-text{
		margin-bottom: 20px;
		&__label{
			color: black;
			padding: 5px 20px;
		}
		&__input{
			background: white;
		}
	}
	.rp-button{
		background: $c-green;
		font-weight: 600;
		width: 100%;
		margin-top: 20px;
		text-transform: none;
	}
	.rp-home{
		&__body{
			font-size: 14px;
			margin-bottom: 20px;
		}
	}

	@include grid-media($smartphone-grid){
		background-image: url(~@/assets/images/ebook-smartphone-bg.jpg);
		background-color: rgb(255, 187, 80);
		background-size: 100%;
		background-position: center top;
		padding-top: 320px;
		.rp-home-ebook{
			&__form{
				padding: 30px;
				@include grid-column(12);
			}
			&__title{
				font-size: 24px;
			}
		}
		.rp-home{
			&__body{
				font-size: 13px;
			}
		}
		.rp-button{
			
		}
	}
}

.rp-home-blog{
	padding-bottom: 50px;
	@include grid-container;
	&__featured{
		border: 1px solid lightgray;
		border-radius: 10px;
		padding: 30px;
		box-sizing: border-box;
		@include grid-column(5);
		.rp-home-blog{
			&__thumbnail{
				height: 340px;
			}
		}
	}
	&__thumbnail{
		border-radius: 10px;
		background-size: cover;
		background-position: center;
	}
	&__posts{
		@include grid-column(7);
	}
	&__post{
		padding: 30px;
		box-sizing: border-box;
		border-bottom: 1px solid lightgray;
		display: flex;
		align-items: center;
		&:last-child{
			border: 0;
		}
		.rp-home-blog{
			&__thumbnail{
				flex: 0 370px;
				flex-shrink: 0;
				height: 300px;
				margin-right: 30px;
			}
		}
	}
	&__title{
		color: rgb(83, 84, 83);
		font-size: 22px;
	}
	&__body{
	
	}
	&__footer{
		text-align: center;
		@include grid-column(12);
	}
	&__more{
		font-size: 24px;
		font-weight: 600;
		font-family: 'RNSCamelia';
		color: $c-green;
		display: inline-block;
		padding: 10px;
		text-decoration: underline;
	}
	.rp-home{
		&__title{
			text-align: center;
		}
	}

	@include grid-media($smartphone-grid){
		padding-bottom: 0;
		.rp-home-blog{
			&__featured,
			&__posts{
				border: 0;
				border-radius: 0;
				@include grid-column(12);
			}
			&__featured,
			&__post{
				flex-flow: row wrap;
				border-bottom: 1px solid lightgray;
				padding-left: 40px;
				padding-right: 40px;
				box-sizing: border-box;
			}
			&__thumbnail{
				flex: 1 100%;
				height: 150px;
			}
			&__title{
				font-size: 16px;
			}
			&__more{
				font-size: 14px;
				font-family: 'RNSCamelia';
				padding: 20px;
			}
		}
	}
}

.rp-home-footer{
	background: rgb(246, 245, 244);
	clear: both;
	padding: 30px 0;
	&__signup{
		text-align: center;
		.rp-button{
			background: $c-green;
			font-weight: 600 !important;
			padding: 15px 30px !important;
		}
	}
	&__author{
		text-align: center;
		padding: 30px 0;
	}
	.rp-landing-nav{
		justify-content: center;
		&__menu{
			padding: 20px 0;
		}
		&__login{
			background: transparent;
			color: $c-green;
		}
		a{
			color: rgb(113, 114, 117);
		}
	}

	@include grid-media($smartphone-grid){
		padding-bottom: 0;
		.rp-home-footer{
			&__author{
				border-top: 1px solid lightgray;
			}
		}
		.rp-home-social{
			padding: 20px 0;
		}
		.rp-landing-nav{
			//
		}
	}
}

.rp-home-social{
	text-align: center;
	a{
		font-size: 30px;
		color: $c-green;
	}
}
