title="Home"
url="/"
layout="landing"
[plan]
[text]
==
<div class="rp-home">
	{% partial 'landing/landing-header' %}

	<div class="rp-home-featured">
		<div class="rp-home__container">
			<h2 class="rp-home-featured__title">
				Crie experiências incríveis para seus consumidores
			</h2>
			<p class="rp-home-featured__description">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
			</p>
			<button class="rp-button rp-button--fill rp-button--secondary rp-button--lg">
				Crie sua conta
			</button>
		</div>
	</div>

	<div id="repoot" class="rp-home-services">
		<h3 class="rp-home__title">
			Por que escolher o Repoot
		</h3>

		<div class="rp-home__container">
			<div class="rp-home-services__item">
				<img src="/themes/repoot/assets/images/growth.png">
				<h4 class="rp-home-services__title">
					Lorem ipsum dolor sit amet, consectetur
				</h4>
				<p class="rp-home__body">
					Amet deleniti quo provident tenetur neque. Nesciunt temporibus consequatur sunt eveniet reprehenderit? In nulla eaque
				</p>
			</div>
			<div class="rp-home-services__item">
				<img src="/themes/repoot/assets/images/pie.png">
				<h4 class="rp-home-services__title">
					Lorem ipsum dolor sit amet, consectetur
				</h4>
				<p class="rp-home__body">
					Amet deleniti quo provident tenetur neque. Nesciunt temporibus consequatur sunt eveniet reprehenderit? In nulla eaque
				</p>
			</div>
			<div class="rp-home-services__item">
				<img src="/themes/repoot/assets/images/money.png">
				<h4 class="rp-home-services__title">
					Lorem ipsum dolor sit amet, consectetur
				</h4>
				<p class="rp-home__body">
					Amet deleniti quo provident tenetur neque. Nesciunt temporibus consequatur sunt eveniet reprehenderit? In nulla eaque
				</p>
			</div>
		</div>
	</div>

	<div class="rp-home-preview">
		<div class="rp-home-preview__section rp-home-preview__section--desktop">
			<img src="/themes/repoot/assets/images/repoot-desktop.png" class="rp-home-preview__desktop">
			<img src="/themes/repoot/assets/images/repoot-green.png" class="rp-home-preview__brand">
			<div class="rp-home__container">
				<div class="rp-home-preview__content">
					<h3 class="rp-home__title">
						Lorem ipsum dolor sit amet, consectetur
					</h3>
					<p class="rp-home__body">
						Lorem iste voluptatum incidunt fugiat incidunt. Quasi nemo est tempore nihil corporis esse hic nisi magnam Saepe rerum hic esse
					</p>
					<a href="#" class="rp-home-preview__link">
						Crie sua conta
					</a>
				</div>
			</div>
		</div>

		<div class="rp-home-preview__section rp-home-preview__section--smartphone">
			<img src="/themes/repoot/assets/images/repoot-smartphone.png" class="rp-home-preview__smartphone">
			<img src="/themes/repoot/assets/images/repoot-yellow.png" class="rp-home-preview__brand">
			<div class="rp-home__container">
				<div class="rp-home-preview__content">
					<h3 class="rp-home__title">
						Lorem ipsum dolor sit amet, consectetur
					</h3>
					<p class="rp-home__body">
						Lorem iste voluptatum incidunt fugiat incidunt. Quasi nemo est tempore nihil corporis esse hic nisi magnam Saepe rerum hic esse
					</p>
					<a href="#" class="rp-home-preview__link">
						Crie sua conta
					</a>
				</div>
			</div>
		</div>
	</div>

	<div id="plans" class="rp-home-plans">
		<h3 class="rp-home__title">
			Planos
		</h3>
		<div class="rp-home__container">
			{% component 'plan'
				title = 'Lorem ipsum'
				theme = 'green'
				features = [
					'Free setup',
					'Unlimited Bandwidth',
					'50GB Storage',
					'10 Email Accounts',
					'100GB Disk Space'
				]
				price = 169
				cents = 99
				icon = 'plan-basic'
			%}

			{% component 'plan'
				title = 'Lorem ipsum'
				theme = 'yellow'
				features = [
					'Free setup',
					'Unlimited Bandwidth',
					'50GB Storage',
					'10 Email Accounts',
					'100GB Disk Space'
				]
				featured = true
				price = 169
				cents = 99
				icon = 'plan-member'
			%}

			{% component 'plan' 
				title = 'Lorem ipsum'
				theme = 'red'
				features = [
					'Free setup',
					'Unlimited Bandwidth',
					'50GB Storage',
					'10 Email Accounts',
					'100GB Disk Space'
				]
				price = 169
				featured = false
				cents = 99
				icon = 'plan-super'
			%}
		</div>
	</div>

	<div id="ebook" class="rp-home-ebook">
		<div class="rp-home__container">
			<form class="rp-home-ebook__form" action="">
				<h3 class="rp-home-ebook__title">
					Lorem ipsum dolor sit amet,
				</h3>
				<p class="rp-home__body">
					Ipsum minus odit quaerat alias saepe nam animi nostrum Possimus dicta accusantium soluta rerum accusantium quidem? Dolores fugit rerum aperiam?
				</p>

				{% component 'text' label='Nome' %}
				{% component 'text' label='Empresa' %}
				{% component 'text' label='Email' %}
				{% component 'text' label='Telefone' %}

				<button class="rp-button rp-button--fill rp-button--secondary rp-button--lg">
					Baixe agora seu E-book
				</button>
			</form>
		</div>
	</div>

	<div id="blog" class="rp-home-blog">
		<h3 class="rp-home__title">
			Blog
		</h3>
		<div class="rp-home-blog__featured">
			<div class="rp-home-blog__thumbnail" style="background-image: url(http://lorempixel.com/640/480)">
			</div>
			<h4 class="rp-home-blog__title">
				Consectetur natus aut maiores odio perspiciatis! Id autem accusamus nulla
			</h4>
			<p class="rp-home__body">
				Ipsum libero culpa vero molestias atque nisi quam. Tempore officia provident laudantium impedit repudiandae harum. Dolorum eligendi pariatur autem quos
			</p>
		</div>

		<div class="rp-home-blog__posts">
			<div class="rp-home-blog__post">
				<div class="rp-home-blog__thumbnail" style="background-image: url(http://lorempixel.com/640/480)">
				</div>
				<div>
					<h4 class="rp-home-blog__title">
						Consectetur natus aut maiores odio perspiciatis! Id autem accusamus nulla
					</h4>
					<p class="rp-home__body">
						Ipsum libero culpa vero molestias atque nisi quam. Tempore officia provident laudantium impedit repudiandae harum. Dolorum eligendi pariatur autem quos
					</p>
				</div>
			</div>

			<div class="rp-home-blog__post">
				<div class="rp-home-blog__thumbnail" style="background-image: url(http://lorempixel.com/640/480)">
				</div>
				<div>
					<h4 class="rp-home-blog__title">
						Consectetur natus aut maiores odio perspiciatis! Id autem accusamus nulla
					</h4>
					<p class="rp-home__body">
						Ipsum libero culpa vero molestias atque nisi quam. Tempore officia provident laudantium impedit repudiandae harum. Dolorum eligendi pariatur autem quos
					</p>
				</div>
			</div>
		</div>

		<div class="rp-home-blog__footer">
			<a href="#" class="rp-home-blog__more">Ver mais</a>
		</div>
	</div>

	<div class="rp-home-footer">
		<div class="rp-home-footer__signup">
			<button class="rp-button rp-button--fill">
				Faça sua conta
			</button>
		</div>

		<div class="rp-home__container">
			{% partial 'landing/landing-nav' %}
		</div>

		<div class="rp-home-social">
			<a href="#" class="icon icon-instagram"></a>
			<a href="#" class="icon icon-facebook"></a>
		</div>

		<div class="rp-home-footer__author">
			<img src="/themes/repoot/assets/images/red-shark-brand.png" alt="Red Shark">
		</div>
	</div>
</div>
