.rp-auth{
	height: 100%;
	display: flex;
	.rp-auth-login,
	.rp-auth-register,
	.rp-auth-slider{
		flex: 1 50%;
	}

	@include grid-media($smartphone-grid){
		flex-flow: row wrap;
		.rp-auth-login,
		.rp-auth-register,
		.rp-auth-slider{
			flex: 1 100%;
		}
	}
}

.rp-auth-login{
	padding: 120px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	&__title{
		font-size: 50px;
		color: #545454;
	}
	&__container{
		width: 100%;
		max-width: 360px;
	}
	&__footer{
		text-align: center;
		padding-top: 100px;
		p{
			font-size: 13px;
			margin-top: 30px;
			a{
				color: darken($c-blue, 10%);
				text-decoration: underline;
			}
		}
	}

	@include grid-media($smartphone-grid){
		padding: 40px;
	}
}

.rp-auth-slider{
	background: $c-green;
	display: flex;
	flex-flow: column;
	justify-content: center;
	&__brand{
		width: 120px;
		margin: 0 120px 70px 120px;
	}
	&__slide{
		padding: 0 120px;
		box-sizing: border-box;
		color: white;
	}
	&__title{
		font-size: 40px;
		margin: 0;
	}
	&__description{
		font-size: 14px;
		line-height: 150%;
	}
	.swiper-wrapper{
		height: auto;
	}
	.swiper-pagination{
		position: static;
		text-align: left;
		padding: 0 120px;
		box-sizing: border-box;
		margin-top: 40px;
	}
	.swiper-pagination-bullet{
		width: 18px;
		height: 18px;
		background: transparent;
		border: 1px solid white;
		opacity: 1;
		margin: 0 10px 0 0 !important;
		display: inline-block;
	}
	.swiper-pagination-bullet-active{
		background: white;
	}

	@include grid-media($smartphone-grid){
		padding: 60px;
		.rp-auth-slider{
			&__brand{
				width: 60px;
				margin: 20px 40px;
			}
			&__slide{
				padding: 0 40px;
			}
			&__pagination{
				margin-bottom: 40px;
				padding: 0 40px;
				margin-top: 20px;
			}
		}
	}
}
