title = "Login"
url = "/auth"
layout = "public"
is_hidden = 0
[text]
==
function onStart(){
    $loggedIn = Auth::check();
    if($loggedIn){
        return Redirect::to('/dashboard');
    }
}

function onLogin()
{

    if (!$user = Auth::findUserByLogin(post('email'))) {
        return ['result' => 'Login ou senha inválida.'];
    }
    
    if ( !$user->is_activated) {
        return ['result' => 'Usuário inativo.'];
        //return Redirect::to('/auth');
    }
    
    $user = Auth::authenticate([
        'login' => post('email'),
        'password' => post('password')
    ]);
    
    if($user){
        return Redirect::to('/dashboard');
    }else{
        return ['result' => 'Login ou senha inválida.'];
    }
}
==
<div class="rp-auth">
	<div class="rp-auth-slider swiper-container">
		<img class="rp-auth-slider__brand" src="/themes/repoot/assets/images/repoot-brand.svg" alt="">
		<div class="swiper-wrapper">
			<div class="swiper-slide rp-auth-slider__slide">
				<h3 class="rp-auth-slider__title">
					Organize suas avaliações.
				</h3>
				<p class="rp-auth-slider__description">
				This is Photoshop's version of Lorem Ipsum.<br />
				Proin gravida nibh vei velit auctor aliquet.
				</p>
			</div>

			<div class="swiper-slide rp-auth-slider__slide">
				<h3 class="rp-auth-slider__title">
					Organize suas avaliações.
				</h3>
				<p class="rp-auth-slider__description">
				This is Photoshop's version of Lorem Ipsum.<br />
				Proin gravida nibh vei velit auctor aliquet.
				</p>
			</div>
		</div>

		<div class="rp-auth-slider__pagination swiper-pagination">
		</div>
	</div>

	<form  data-request="onLogin" method="POST" class="rp-auth-login" data-request-update="result: '#result'">
		<div class="rp-auth-login__container">
			<h2 class="rp-auth-login__title">
				Login
			</h2>
				
					

			{% component 'text' label='Seu email' name='email' %}
			{% component 'text' label='Senha' name='password' type='password' %}
					<div id="result"></div>
			<div class="rp-auth-login__footer">
				<button class="rp-button rp-button--fill rp-button--lg">
					Fazer login
				</button>
				<p>
					Ainda não possui Login? <a href="/auth/register">Faça sua conta</a>
				</p>
			</div>
		</div>
	</form>
</div>

