title="Notificações"
url="/notifications"
layout="default"

[notification]
==
<div class="rp-notifications">
	<h2 class="rp-notifications__title">
		Notificação
	</h2>

	{% component 'notification' %}
	{% component 'notification' %}
</div>
