.rp-notifications{
	&__title{
		text-align: center;
		font-size: 24px;
		font-weight: 400;
		text-transform: uppercase;
		color: #999;
		letter-spacing: 2px;
		margin: 30px 0;
		border-bottom: 1px solid lightgray;
		padding-bottom: 30px;
		margin-bottom: 40px;
		@include grid-column(10);
		@include grid-push(1);
	}
	.rp-notification{
		margin-bottom: 10px;
		@include grid-column(10);
		@include grid-push(1);
	}

	@include grid-media($smartphone-grid){
		.rp-notifications{
			&__title{
				@include grid-column(12);
			}
		}
		.rp-notification{
			@include grid-column(12);
		}
	}
}
