title="Register"
url="/register"
layout="landing"
[plan]
[text]
[select]
==
<div class="rp-register">
	<div class="rp-register__header">
		<span class="icon icon-repoot"></span>
		<div class="rp-register__brand">
			<img src="/themes/repoot/assets/images/repoot-black.png">
		</div>

		<div class="rp-register-step">
			<div class="rp-register-step__header">
				<div class="rp-register-step__count">
					Passo
					<b class="rp-register-step__current">
					</b>
					de
					<i class="rp-register-step__total">
					</i>
				</div>

				<h3 class="rp-register-step__title">
					Escolha seu plano.
				</h3>
			</div>
		</div>

		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="rp-register__slide swiper-slide">
					<div class="rp-register__container">
						{% component 'plan'
							title = 'Lorem ipsum'
							theme = 'green'
							features = [
								'Free setup',
								'Unlimited Bandwidth',
								'50GB Storage',
								'10 Email Accounts',
								'100GB Disk Space'
							]
							price = 169
							cents = 99
							icon = 'plan-basic'
						%}

						{% component 'plan'
							title = 'Lorem ipsum'
							theme = 'yellow'
							features = [
								'Free setup',
								'Unlimited Bandwidth',
								'50GB Storage',
								'10 Email Accounts',
								'100GB Disk Space'
							]
							featured = true
							price = 169
							cents = 99
							icon = 'plan-member'
						%}

						{% component 'plan' 
							title = 'Lorem ipsum'
							theme = 'red'
							features = [
								'Free setup',
								'Unlimited Bandwidth',
								'50GB Storage',
								'10 Email Accounts',
								'100GB Disk Space'
							]
							price = 169
							cents = 99
							icon = 'plan-super'
						%}
					</div>

					<div class="rp-register-step__footer">
						<p>
							Dolor alias quos temporibus ad ipsam dolor. Eum numquam aperiam et aspernatur est. Suscipit doloremque tenetur sed perspiciatis debitis itaque! <a href="#">Termos de Uso</a>
						</p>
					</div>
				</div>

				<div class="rp-register__slide swiper-slide">
					<div class="rp-register-form">
						<div class="rp-register-form__fieldset">
							<h3 class="rp-register-form__title rp-register-form__title--green">
								1. Escolha seu ciclo de faturamento
							</h3>

							<label class="rp-radio rp-register-form__left">
								<input type="radio" class="rp-radio__input" name="period" value="yearly">
								<span></span>
								<span>
									Cobrado anualmente<br />
									U$199,00/ano<br />
									<b>U$199,00 por ano. Economize R$40,88</b><br />
									<b>Inclui 2 meses grátis</b>
								</span>
							</label>

							<label class="rp-radio rp-register-form__right">
								<input type="radio" class="rp-radio__input" name="period" value="monthly">
								<span></span>
								<span>
									Cobrado mensalmente<br />
									U$19,99/mês
								</span>
							</label>
						</div>

						<div class="rp-register-form__fieldset">
							<h3 class="rp-register-form__title rp-register-form__title--green">
								2. Dados da Conta
							</h3>

							<div class="rp-register-form__left">
								{% component 'text' label='Nome' %}
								{% component 'text' label='Empresa' %}
							</div>

							<div class="rp-register-form__right">
								{% component 'text' label='Email' %}
								{% component 'text' label='Senha' %}
							</div>
						</div>

						<div class="rp-register-form__fieldset">
							<h3 class="rp-register-form__title rp-register-form__title--green">
								3. Detalhes do Pagamento
							</h3>

							<div class="rp-register-form__left">
								<div class="rp-register-form__method">
									<label class="rp-radio">
										<input type="radio" class="rp-radio__input" name="method" value="card">
										<span></span>
										<img src="/themes/repoot/assets/images/card-brands.png">
									</label>
									<label class="rp-radio">
										<input type="radio" class="rp-radio__input" name="method" value="paypal">
										<span></span>
										<img src="/themes/repoot/assets/images/paypal-brand.png">
									</label>
									<label class="rp-radio">
										<input type="radio" class="rp-radio__input" name="method" value="invoice">
										<span></span>
										<img src="/themes/repoot/assets/images/invoice-brand.png">
									</label>
								</div>



								{% component 'text' label='Número do cartão de crédito' %}

								<div class="rp-register-form__csc">
									{% component 'text' label='CSC' %}
									{% component 'text' label='Data de validade' placeholder='MM/AA' %}
								</div>

								<div class="rp-register-form__country">
									{% component 'select'
										label = 'País'
										options = {
											'brasil': 'Brasil',
											'canada': 'Canada'
										}
										selected = {
											'brasil': true
										}
									%}
									{% component 'text' label='Código postal' %}
								</div>
							</div>
						</div>
					</div>

					<div class="rp-register-sidenav">
						<img src="/themes/repoot/assets/images/plan-yellow.png">
						<div class="rp-register-sidenav__title">
							Lorem ipsum
						</div>

						<p>
							Será cobrado o valor total de U$199,00 anual até você cancelar sua assinatura. Pagamentos realizados anteriormente não serão reembolsados quando você cancelar, a menos que haja obrigatoriedade legal. Suas informações de pagamento são criptografadas e seguras. Todas as quantias são exibidas em USD.
						</p>
						<p>
							Eu concordo com os <b>Termos do Repoot</b>.
						</p>
						<div class="rp-button rp-button--fill">
							Comprar agora
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
