.rp-register{
	padding-top: 50px;
	&__brand{
		text-align: center;
	}
	.rp-plan{
		@include grid-column(4);
	}
	.rp-register-form{
		@include grid-column(8);
	}
	.rp-register-sidenav{
		@include grid-column(4);
	}
	@include grid-media($smartphone-grid){
		.rp-plan,
		.rp-register-form,
		.rp-register-sidenav{
			@include grid-column(12);
		}

		.rp-plan{
			margin-bottom: 20px;
		}
	}
}

.rp-register-step{
	&__header{
		text-align: center;
		margin-top: 80px;
	}
	&__title{
		font-family: 'RNSCamelia';
		color: rgb(84, 84, 84);
	}
	&__count{
		text-transform: uppercase;
		i{
			font-weight: 600;
			font-style: normal;
			color: $c-green;
		}
	}
	&__title{
		font-size: 52px;
		margin-top: 0;
	}
	&__footer{
		text-align: center;
		font-size: 14px;
		border-top: 1px solid lightgray;
		margin-top: 60px;
		@include grid-column(8);
		@include grid-push(2);
		a{
			font-weight: 600;
			text-decoration: underline;
			color: $c-green;
		}
	}
}

.rp-register-form{
	&__left{
		@include grid-column(5);
	}
	&__right{
		@include grid-column(5);
		@include grid-push(2);
	}
	&__fieldset{
		@include grid-container;
	}
	&__title{
		font-family: 'RNSCamelia';
		font-size: 26px;
		color: $c-green;
	}
	&__csc{
		@include grid-collapse;
		.rp-text:nth-child(1){
			@include grid-column(5);
		}
		.rp-text:nth-child(2){
			@include grid-column(7);
		}
	}
	&__country{
		@include grid-collapse;
		.rp-select{
			@include grid-column(6);
		}
		.rp-text{
			@include grid-column(6);
		}
	}
	&__method{
		display: flex;
		justify-content: space-between;
		.rp-radio{
			display: flex;
			align-items: center;
			input[type="radio"]{
				+ span{
					top: 10px;
				}
			}
		}
	}
	.rp-text{
		&__input{
			background: white;
			border: 1px solid lightgray;
			height: 50px;
		}
		&__label{
			padding: 5px 20px;
		}
	}
	.rp-select{
		&__label{
			padding: 5px 20px;
			font-size: 14px;
			color: #939393;
		}
		&__value{
			border: 1px solid lightgray;
			padding: 15.5px 20px;
			border-radius: 50px;
			color: gray;
			background: white;
		}
		.icon{
			height: 100%;
			width: 40px;
			text-align: center;
			padding: 12px 0;
			box-sizing: border-box;
			border-left: 1px solid lightgray;
			color: gray;
		}
	}

	@include grid-media($smartphone-grid){
		.rp-register-form{
			&__left,
			&__right{
				@include grid-column(12);
			}
		}
		.rp-radio{
			margin-bottom: 10px;
		}
	}
}

.rp-radio{
	position: relative;
	padding-left: 20px;
	box-sizing: border-box;
	font-size: 14px;
	line-height: 150%;
	input[type="radio"]{
		display: none;
		+ span{
			width: 8px;
			height: 8px;
			border: 1px solid gray;
			border-radius: 8px;
			display: inline-block;
			position: absolute;
			top: 5px;
			left: 0;
			&:before{
				content: "";
				position: absolute;
				top: 1px;
				left: 1px;
				width: 6px;
				height: 6px;
				border-radius: 6px;
			}
		}
		&:checked{
			+ span:before{
				background: $c-green;
			}
		}
	}
}

.rp-register-sidenav{
	border: 1px solid lightgray;
	border-radius: 30px;
	padding: 40px;
	box-sizing: border-box;
	background: white;
	&__title{
		font-size: 24px;
		font-family: 'RNSCamelia';
		color: $c-yellow;
		border-bottom: 1px solid lightgray;
		padding-bottom: 30px;
		margin-top: 20px;
		margin-bottom: 40px;
	}
	p{
		font-size: 13px;
		line-height: 150%;
		b{
			text-decoration: underline;
		}
	}
	.rp-button{
		background: $c-green;
		font-weight: 600;
		padding-top: 15px;
		padding-bottom: 15px;
		text-align: center;
		width: auto;
		margin-top: 30px;
	}
	@include grid-media($smartphone-grid){
		margin-top: 30px;
	}
}
