.rp-reports{
	&__form{
		background: white;
		border-radius: 6px;
		box-shadow: 0 0 20px rgba(black, 0.1);
		margin-bottom: 40px;
		@include grid-column(8);
		@include grid-push(2);
	}
	&__footer{
		text-align: right;
		padding: 30px 100px;
	}
	&__title{
		text-align: center;
		font-size: 24px;
		font-weight: 400;
		text-transform: uppercase;
		color: #999;
		letter-spacing: 2px;
		margin: 30px 0;
	}
	&__subtitle{
		font-size: 16px;
		font-weight: 600;
		color: rgb(85, 85, 85);
		border-bottom: 1px solid lightgray;
		padding-bottom: 10px;
		margin-bottom: 70px;
		@include grid-column(10);
		@include grid-push(1);
	}
	&__subheading{
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 400;
	}
	&__label{
		display: block;
		font-size: 14px;
		padding-bottom: 5px;
		color: #939393;
	}
	&__fieldset{
		padding: 30px 100px;
		border-bottom: 1px solid rgb(222, 223, 226);
		.rp-text{
			width: 70%;
		}
		.rp-select{
			width: 180px;
		}
	}
	&__branches{
		.rp-reports{
			&__subheading{
				padding-left: 100px;
				padding-right: 100px;
			}
		}
		ul{
			padding: 0;
			li{
				list-style: none;
				border-bottom: 1px solid rgb(222, 223, 226);
				padding: 10px 100px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				font-size: 14px;
			}
		}
	}

	@include grid-media($smartphone-grid){
		.rp-reports{
			&__subtitle{
				@include grid-column(12);
			}
			&__form{
				@include grid-column(12);
			}
			&__fieldset{
				padding: 30px;
			}
			&__subheading{
				padding-left: 30px;
				padding-right: 30px;
			}
			&__branches{
				ul{
					li{
						padding-left: 30px;
						padding-right: 30px;
					}
				}
			}
			&__footer{
				padding: 30px;
			}
		}
	}
}
