title="Notificações"
url="/reports"
layout="default"

[text]
[selectdate]
[filters]
[toggle]
==
<div class="rp-reports">
	<h2 class="rp-reports__title">
		Relatórios
	</h2>

	<h3 class="rp-reports__subtitle">
		Criar Relatório Personalizado
	</h3>

	<form class="rp-reports__form" action="">
		<div class="rp-reports__fieldset">
			<h4 class="rp-reports__subheading">
				Informações gerais
			</h4>
			{% component 'text' label='Título' name='title' %}
		</div>

		<div class="rp-reports__fieldset">
			<span class="rp-reports__label">
				Período
			</span>
			{% component 'selectdate' size='sm' name='range' %}
		</div>

		<div class="rp-reports__fieldset">
			<span class="rp-reports__label">
				Filtros
			</span>
			{% component 'filters' %}
		</div>

		<div class="rp-reports__branches">
			<h4 class="rp-reports__subheading">
				Estabelecimentos
			</h4>

			<ul>
				<li>
					<span>
						Estabelecimento 1
					</span>
					{% component 'toggle' %}
				</li>
				<li>
					<span>
						Estabelecimento 2
					</span>
					{% component 'toggle' %}
				</li>
				<li>
					<span>
						Estabelecimento 3
					</span>
					{% component 'toggle' %}
				</li>
				<li>
					<span>
						Estabelecimento 4
					</span>
					{% component 'toggle' %}
				</li>
			</ul>
		</div>

		<footer class="rp-reports__footer">
			<button class="rp-button rp-button--fill rp-button--sm">
				Gerar relatório
			</button>
		</footer>
	</form>
</div>
