@import "~swiper/dist/css/swiper";
@import "~jquery-date-range-picker/dist/daterangepicker.min";
@import "fonts";
@import "icons";

html{
	height: 100%;
}

body{
	height: 100%;
	font-family: 'MontSerrat', Arial;
	margin: 0;
	background: #fafafa;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a{
	color: $c-blue;
	text-decoration: none;
}

.rp-container{
	padding-top: 60px;
	padding-left: 120px;
	margin: 0;

	@include grid-media($smartphone-grid){
		padding-left: 0;
	}
}

.rp-avatar{
	display: inline-block;
	width: 100%;
	max-width: 100px;
	position: relative;
	span{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	&:after{
		content: "";
		display: block;
		padding-top: 100%;
		border-radius: 9999px;
		background: white;
		border: 1px solid rgb(222, 223, 226);
	}
	&--primary{
		color: white;
		&:after{
			background: $c-blue;
			border-color: $c-blue;
		}
	}
}

.rp-button{
	color: #555;
	padding: 10px 30px;
	font-family: 'MontSerrat';
	background: transparent;
	font-weight: 400;
	font-size: 14px;
	border-radius: 40px;
	border-color: transparent;
	cursor: pointer;
	transition: .3s $ease-primary;
	outline: none;
	&:hover{
		color: $c-blue;
	}
	&--fill{
		background: $c-blue;
		color: white;
		&:hover{
			background: lighten($c-blue, 5%);
			color: white;
		}
	}
	&--outline{
		background: transparent;
		border: 1px solid $c-blue;
		color: $c-blue;
		&:hover{
			background: $c-blue;
			color: white;
		}
	}
	&--sm{
		font-size: 12px;
		padding: 7px 40px;
	}
	&--lg{
		font-size: 14px;
		font-weight: 600;
		padding: 13px 60px;
		text-transform: uppercase;
	}
	&--icon{
		padding-left: 40px;
		position: relative;
		.icon{
			position: absolute;
			top: 50%;
			left: 20px;
			transform: translate(0, -50%);
		}
	}
}

.rp-modal{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(black, 0.7);
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	visibility: hidden;
	opacity: 0;
	transform: scale(1.2);
	z-index: 300;
	transition: .3s $ease-primary;
	&__content{
		background: white;
		border-radius: 10px;
	}
	&.is-active{
		transform: scale(1);
		opacity: 1;
		visibility: visible;
	}
	@include grid-media($smartphone-grid){
		padding-left: 10px;
		padding-right: 10px;
		box-sizing: border-box;
		.rp-modal{
			&__content{
				width: 100%;
			}
		}
	}
}
