@font-face {
	font-family: 'MontSerrat';
	src: url('~@/assets/fonts/montserrat-italic-webfont.woff2') format('woff2'),
	url('~@/assets/fonts/montserrat-italic-webfont.woff') format('woff'),
	url('~@/assets/fonts/montserrat-italic-webfont.svg#montserratitalic') format('svg');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'MontSerrat';
	src: url('~@/assets/fonts/montserrat-light-webfont.woff2') format('woff2'),
	url('~@/assets/fonts/montserrat-light-webfont.woff') format('woff'),
	url('~@/assets/fonts/montserrat-light-webfont.svg#montserratlight') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'MontSerrat';
	src: url('~@/assets/fonts/montserrat-lightitalic-webfont.woff2') format('woff2'),
	url('~@/assets/fonts/montserrat-lightitalic-webfont.woff') format('woff'),
	url('~@/assets/fonts/montserrat-lightitalic-webfont.svg#montserratlight_italic') format('svg');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'MontSerrat';
	src: url('~@/assets/fonts/montserrat-regular-webfont.woff2') format('woff2'),
	url('~@/assets/fonts/montserrat-regular-webfont.woff') format('woff'),
	url('~@/assets/fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'MontSerrat';
	src: url('~@/assets/fonts/montserrat-bold-webfont.woff2') format('woff2'),
	url('~@/assets/fonts/montserrat-bold-webfont.woff') format('woff'),
	url('~@/assets/fonts/montserrat-bold-webfont.svg#montserratbold') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'MontSerrat';
	src: url('~@/assets/fonts/montserrat-bolditalic-webfont.woff2') format('woff2'),
	url('~@/assets/fonts/montserrat-bolditalic-webfont.woff') format('woff'),
	url('~@/assets/fonts/montserrat-bolditalic-webfont.svg#montserratbold_italic') format('svg');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'RNSCamelia';
	src: url('~@/assets/fonts/RNSCamelia-Black.woff2') format('woff2'),
	url('~@/assets/fonts/RNSCamelia-Black.woff') format('woff'),
	url('~@/assets/fonts/RNSCamelia-Black.eot') format('eot');
	font-weight: 700;
	font-style: normal;
}
