@charset "UTF-8";

@font-face {
	font-family: "repoot";
	src:url("~@/assets/fonts/repoot.eot");
	src:url("~@/assets/fonts/repoot.eot?#iefix") format("embedded-opentype"),
	url("~@/assets/fonts/repoot.woff") format("woff"),
	url("~@/assets/fonts/repoot.ttf") format("truetype"),
	url("~@/assets/fonts/repoot.svg#repoot") format("svg");
	font-weight: normal;
	font-style: normal;
}

[data-icon]:before {
	font-family: "repoot" !important;
	content: attr(data-icon);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: "repoot" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-bars:before {
	content: "\61";
}
.icon-branches:before {
	content: "\62";
}
.icon-home:before {
	content: "\63";
}
.icon-report:before {
	content: "\65";
}
.icon-notification:before {
	content: "\66";
}
.icon-angle-down:before {
	content: "\64";
}
.icon-angle-left:before {
	content: "\67";
}
.icon-angle-right:before {
	content: "\68";
}
.icon-angle-up:before {
	content: "\69";
}
.icon-alert:before {
	content: "\6a";
}
.icon-chat:before {
	content: "\6b";
}
.icon-clock:before {
	content: "\6c";
}
.icon-trash:before {
	content: "\6e";
}
.icon-settings:before {
	content: "\6f";
}
.icon-add:before {
	content: "\70";
}
.icon-close:before {
	content: "\71";
}
.icon-check:before {
	content: "\72";
}
.icon-menu:before {
	content: "\73";
}
.icon-calendar:before {
	content: "\75";
}
.icon-minus:before {
	content: "\6d";
}
.icon-instagram:before {
	content: "\74";
}
.icon-facebook:before {
	content: "\76";
}
.icon-user:before {
	content: "\77";
}
