$c-gray: #263238;
$c-blue: rgb(65, 135, 237);
$c-green: rgb(118, 193, 95);
$c-red: #f32d4f;
$c-yellow: #ffca5b;

$themes: (
	primary: $c-blue,
	secondary: $c-green,
	accent: #FCF109
);

$simple-line-font-path: "~/../fonts/";

$ease-primary: cubic-bezier(.25, .8, .25, 1);
