<div class="rp-notification">
	<div class="rp-avatar">
		<img src="{{ 'assets/images/tripadvisor-brand.png' | theme }}">
	</div>
	<div class="rp-notification__content">
		<h3 class="rp-notification__title">
			Fulano de tal
		</h3>
		<p class="rp-notification__description">
			Deixou uma avaliação no Tripadivisor
		</p>
		<span class="rp-notification__time">
			Hoje
		</span>
	</div>
</div>
