.rp-notification{
	background: white;
	box-sizing: border-box;
	box-shadow: 0 0 20px rgba(black, 0.1);
	background: white;
	border: 1px solid #eee;
	border-radius: 10px;
	display: flex;
	align-items: center;
	padding: 15px;
	box-sizing: border-box;
	&__title{
		font-weight: 500;
		font-size: 14px;
		color: rgb(68, 68, 68);
		margin: 0;
	}
	&__description{
		font-size: 12px;
		color: rgb(130, 130, 130);
		margin: 0 0 10px;
		font-weight: 500;
	}
	&__time{
		color: rgb(170, 170, 170);
		font-size: 12px;
		font-weight: 500;
	}
	.rp-avatar{
		max-width: 60px;
		position: relative;
		margin-right: 20px;
		img{
			width: 50px;
			height: auto;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}
