<div class="rp-chart-doughnut" data-value='{{ __SELF__.property('value')|json_encode() }}'>
	<canvas class="rp-chart-doughnut__canvas" width="200" height="200">
	</canvas>

	<span class="rp-chart-doughnut__reputation">
		<small>
			Reputação
		</small>
		<span>
			{{ __SELF__.property('value').reputation }}
		</span>
	</span>
</div>
