.rp-chart-doughnut{
	position: relative;
	&__reputation{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		small{
			display: block;
			text-transform: uppercase;
			font-size: 13px;
		}
		span{
			font-size: 42px;
			font-weight: 500;
			color: $c-green;
		}
	}
}
