<div class="rp-chart-line" data-value='{{ __SELF__.property('value')|json_encode() }}'>
	<canvas class="rp-chart-line__canvas" width="400" height="130">
	</canvas>

	{% component 'selectdate' size='sm' %}
</div>
