.rp-chart-line{
	position: relative;
	.rp-select--date{
		width: 130px;
		position: absolute;
		left: 0px;
		bottom: 5px;
	}

	@include grid-media($smartphone-grid){
		.rp-select--date{
			position: static;
		}
	}
}
