<label class="rp-text">
	<span class="rp-text__label">
		{{ __SELF__.property('label') }}
	</span>
	<input type="{{ __SELF__.property('type') }}" name="{{ __SELF__.property('name') }}" class="rp-text__input">
</label>
