.rp-text{
	margin-bottom: 10px;
	display: block;
	&__label{
		display: block;
		font-size: 14px;
		padding-bottom: 5px;
		color: #939393;
	}
	&__input{
		background: #ebebeb;
		height: 40px;
		padding: 0px 20px;
		box-sizing: border-box;
		border-radius: 40px;
		border: 0;
		width: 100%;
		outline: none;
		font-size: 14px;
		font-family: 'MontSerrat';
	}
}
