<div class="rp-number rp-number--{{ __SELF__.property('inline') ? 'inline' : 'block' }}">
	<span class="rp-number__label">
		{{ __SELF__.property('label') }}
	</span>
	<div class="rp-number__wrapper">
		<button class="rp-number__decrease icon icon-minus">
		</button>
		<input type="text" name="{{ __SELF__.property('name') }}" class="rp-number__input" value="{{ __SELF__.property('value') }}">
		<button class="rp-number__increase icon icon-add">
		</button>
	</div>
</div>
