.rp-number{
	&__label{
		display: block;
		font-size: 14px;
		color: #939393;
	}
	&__wrapper{
		display: flex;
		align-items: center;
	}
	&__increase,
	&__decrease{
		background: $c-blue;
		color: white;
		border: 0;
		font-size: 18px;
		width: 30px;
		height: 30px;
		border-radius: 100px;
		cursor: pointer;
		padding: 0;
		line-height: 70%;
		outline: none;
		transition: .3s $ease-primary;
		&:hover{
			background: lighten($c-blue, 5%);
		}
	}
	&__input{
		width: 40px;
		background: transparent;
		border: 0;
		border-bottom: 1px solid #333;
		padding: 0;
		margin: 0 10px;
		font-weight: 600;
		font-size: 14px;
		font-family: 'MontSerrat';
		text-align: center;
		outline: none;
	}
	&--inline{
		display: flex;
		align-items: center;
		.rp-number{
			&__label{
				flex-shrink: 0;
				margin-right: 10px;
			}
		}
	}
}
