.rp-toggle{
	background: rgb(248, 248, 248);
	width: 44px;
	height: 22px;
	display: inline-block;
	border-radius: 22px;
	border: 1px solid rgb(200, 200, 200);
	position: relative;
	transition: .3s $ease-primary;
	cursor: pointer;
	&__bullet{
		width: 22px;
		height: 22px;
		background: white;
		border: 1px solid rgb(206, 206, 206);
		box-shadow: 2px 2px 10px rgba(black, 0.1);
		display: inline-block;
		border-radius: 22px;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translate(-4px, -50%);
		transition: .3s $ease-primary;
	}
	&__input{
		display: none;
	}
	&.is-active{
		background: rgb(49, 217, 115);
		.rp-toggle{
			&__bullet{
				transform: translate(22px, -50%);
			}
		}
	}
}
