[map]
==
function onStart () {
	$this['markers'] = [
        ['title' => 'Empresa 1', 'color' => 'red', 'score' => '4', 'lat' => '-34.563', 'lng' => '131.044'],
        ['title' => 'Empresa 2', 'color' => 'yellow', 'score' => '7', 'lat' => '-12.463', 'lng' => '131.044'],
        ['title' => 'Empresa 3', 'color' => 'green', 'score' => '10', 'lat' => '-25.363', 'lng' => '131.044'],
        ['title' => 'Empresa 4', 'color' => 'red', 'score' => '3', 'lat' => '-51.363', 'lng' => '131.044'],
        ['title' => 'Empresa 5', 'color' => 'red', 'score' => '1', 'lat' => '-14.363', 'lng' => '131.044'],
        ['title' => 'Empresa 6', 'color' => 'green', 'score' => '8', 'lat' => '-6.363', 'lng' => '131.044']
    ];
}
==
<div class="rp-dashboard-branches">
	{% component 'map' markers=markers %}

	<div class="rp-dashboard-branches__positive rp-dashboard-widget">
		<div class="rp-dashboard-branches__header">
			<img src="{{ 'assets/images/pin-green.png' | theme }}" class="rp-dashboard-branches__pin">
			<h4 class="rp-dashboard-branches__title">
				Filiais com<br /> melhores avaliações
			</h4>
		</div>
		<ul>
			{% for marker in markers %}
				{% if marker.color == 'green' %}
				<li>
					<span class="rp-dashboard-branches__name">
						{{marker.title}}
					</span>
					<span class="rp-dashboard-branches__score">
						{{marker.score}}
					</span>
				</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>

	<div class="rp-dashboard-branches__negative rp-dashboard-widget">
		<div class="rp-dashboard-branches__header">
			<img src="{{ 'assets/images/pin-red.png' | theme }}" class="rp-dashboard-branches__pin">
			<h4 class="rp-dashboard-branches__title">
				Filiais com<br /> piores avaliações
			</h4>
		</div>
		<ul>
			{% for marker in markers %}
				{% if marker.color != 'green' %}
				<li>
					<span class="rp-dashboard-branches__name">
						{{marker.title}}
					</span>
					<span class="rp-dashboard-branches__score">
						{{marker.score}}
					</span>
				</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
</div>
