.rp-dashboard-social{
	@include grid-collapse;
	&__header{
		margin-bottom: 30px;
		@include grid-column(12);
		.rp-dashboard__title{
			margin: 0 0 10px;
		}
		.rp-select{
			width: 170px;
		}
	}
	&__title{
		text-transform: uppercase;
		font-weight: 400;
		color: #555;
		font-size: 14px;
		margin: 0 0 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		img{
			margin-right: 10px;
		}
	}
	&__item{
		padding: 30px;
		box-sizing: border-box;
		@include grid-column(3);
	}

	@include grid-media($smartphone-grid){
		.rp-dashboard{
			&__title{
				margin-left: 0 !important;
			}
		}
		.rp-dashboard-social{
			&__item{
				margin-bottom: 40px;
				@include grid-column(12);
				&:last-child{
					margin-bottom: 0;
				}
			}
			&__header{
				display: flex;
				flex-flow: row wrap;
				@include grid-column(12);
			}
		}
	}
}
