[review]
[select]
==
function onStart () {
	$this['property'] = [
        'reviews' => [
            ['name' => 'Bruna', 'score' => 5, 'type' => 'negative', 'title' => 'Teste de title', 'date' => '5 de Agosto de 2018', 'content' => 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.'],
            ['name' => 'Tereza', 'score' => 9, 'type' => 'positive', 'title' => 'Teste de title2', 'date' => '10 de Fevereiro de 2018', 'content' => 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.'],
            ['name' => 'Marcio', 'score' => 10, 'type' => 'positive', 'title' => 'Teste de title3', 'date' => '3 de Maio de 2018', 'content' => 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.'],
            ['name' => 'Matheus', 'score' => 7, 'type' => 'neutral', 'title' => 'Teste de title4', 'date' => '16 de Junho de 2018', 'content' => 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.'],
            ['name' => 'Cristina', 'score' => 6, 'type' => 'neutral', 'title' => 'Teste de title5', 'date' => '25 de Junho de 2018', 'content' => 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.'],
            ['name' => 'Caio', 'score' => 2, 'type' => 'negative', 'title' => 'Teste de title6', 'date' => '12 de Janeiro de 2018', 'content' => 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.'],
        ]
    ];
}
==
<div class="rp-dashboard-evaluation">
	<div class="rp-dashboard-evaluation__header">
		<h2 class="rp-dashboard__title">
			Últimas avaliações
		</h2>
		{%
			component 'select'
			label='Classificar por'
			size='sm'
			inline=true
			multiple=true
			options={
				'recentes': 'Mais recentes'
			}
			selected={recentes: true}
		%}
	</div>
    {% for item in property.reviews %}
        {% component 'review' value=item %}
	{% endfor %}

	<a href="#" class="rp-dashboard-evaluation__more">
		Mostrar todas as avaliações
	</a>
</div>

