.rp-dashboard-evaluation{
	&__header{
		display: flex;
		justify-content: space-between;
		align-items: center;
		.rp-select{
			width: 300px;
		}
	}
	&__more{
		width: 100%;
		display: block;
		padding: 10px;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 500;
		letter-spacing: 1.5px;
		color: $c-blue;
	}
	.rp-review{
		margin-bottom: 25px;
	}

	@include grid-media($smartphone-grid){
		@include grid-collapse;
		.rp-dashboard{
			&__title{
				margin-left: 0 !important;
				margin-bottom: 0;
			}
		}
		.rp-dashboard-evaluation{
			&__header{
				flex-flow: row wrap;
				margin-bottom: 30px;
			}
		}
	}
}
