[score]
[chartline]
==
function onStart () {
	$this['property'] = [
		'labels' => ['1', '2', '3', '4', '5', '6', '7'],
		'datasets' => [
			[
				'fill' => 'false',
				'label' => 'Positivo',
				'data' => [0.4, 1.2, 4, 3.6, 9, 8, 3.2],
				'backgroundColor' => 'white',
				'borderColor' => 'rgb(118, 193, 95)',
				'borderWidth' => 1,
				'fill' => false,
				'showLine' => true,
				'pointRadius' => 5,
				'pointHoverRadius' => 6,
				'pointBorderWidth' => 3
			],
			[
				'fill' => 'false',
				'label' => 'Neutro',
				'data' => [2.2, 5.3, 1, 1.5, 8, 1.7, 9.3],
				'backgroundColor' => 'white',
				'borderColor' => '#ffca5b',
				'borderWidth' => 1,
				'fill' => false,
				'showLine' => true,
				'pointRadius' => 5,
				'pointHoverRadius' => 6,
				'pointBorderWidth' => 3
			],
			[
				'fill' => 'false',
				'label' => 'Negativo',
				'data' => [4.7, 8.3, 5.2, 7, 10, 3.2, 4.6],
				'backgroundColor' => 'white',
				'borderColor' => '#f32d4f',
				'borderWidth' => 1,
				'fill' => false,
				'showLine' => true,
				'pointRadius' => 5,
				'pointHoverRadius' => 6,
				'pointBorderWidth' => 3
			],
		]
	];
}
==
<div class="rp-dashboard-overview">
	<div class="rp-dashboard-overview__reputation rp-dashboard-widget">
		<h3 class="rp-dashboard-overview__title">
			Reputação 
		</h3>
		{% component 'score' value='7' %}
	</div>

	<div class="rp-dashboard-overview__history rp-dashboard-widget">
		<h3 class="rp-dashboard-overview__title">
			Histórico
		</h3>
		{% component 'chartline' value=property %}
	</div>
</div>
