[selectdate]
[chartdoughnut]
==
function onStart(){
	$this['tripadvisor'] = [
		"reputation" => '4.5',
		"labels" => ['Positivo', 'Neutro', 'Negativo'],
		"datasets" => [
			[
				"label" => "Trip Advisor",
				"data" => [250, 10, 25],
				"backgroundColor" => [
					"#76c15f",
					"#ffca5b",
					"#f32d4f"
				]
			]
		]
	];
	$this['foursquare'] = [
		"reputation" => '4',
		"labels" => ['Positivo', 'Neutro', 'Negativo'],
		"datasets" => [
			[
				"label" => "Four Square",
				"data" => [300, 50, 100],
				"backgroundColor" => [
					"#76c15f",
					"#ffca5b",
					"#f32d4f"
				]
			]
		]
	];
	$this['gplace'] = [
		"reputation" => '4',
		"labels" => ['Positivo', 'Neutro', 'Negativo'],
		"datasets" => [
			[
				"label" => "Google Place",
				"data" => [300, 50, 100],
				"backgroundColor" => [
					"#76c15f",
					"#ffca5b",
					"#f32d4f"
				]
			]
		]
	];
	$this['kekanto'] = [
		"reputation" => '4',
		"labels" => ['Positivo', 'Neutro', 'Negativo'],
		"datasets" => [
			[
				"label" => "Kekanto",
				"data" => [300, 50, 100],
				"backgroundColor" => [
					"#76c15f",
					"#ffca5b",
					"#f32d4f"
				]
			]
		]
	];
}
==
<div class="rp-dashboard-social">
	<header class="rp-dashboard-social__header">
		<h2 class="rp-dashboard__title">
			Reputação nas redes
		</h2>
		{% component 'selectdate' %}
	</header>

	<div class="rp-dashboard-social__item rp-dashboard-widget">
		<h3 class="rp-dashboard-social__title">
			<img src="{{ 'assets/images/tripadvisor-brand.png' | theme }}">
			<span>
				Tripadvisor
			</span>
		</h3>
		{% component 'chartdoughnut' value=tripadvisor %}
	</div>

	<div class="rp-dashboard-social__item rp-dashboard-widget">
		<h3 class="rp-dashboard-social__title">
			<img src="{{ 'assets/images/foursquare-brand.png' | theme }}">
			<span>
				Foursquare
			</span>
		</h3>
		{% component 'chartdoughnut' value=foursquare %}
	</div>

	<div class="rp-dashboard-social__item rp-dashboard-widget">
		<h3 class="rp-dashboard-social__title">
			<img src="{{ 'assets/images/gplace-brand.png' | theme }}">
			<span>
				Google Place
			</span>
		</h3>
		{% component 'chartdoughnut' value=gplace %}
	</div>

	<div class="rp-dashboard-social__item rp-dashboard-widget">
		<h3 class="rp-dashboard-social__title">
			<img src="{{ 'assets/images/kekanto-brand.png' | theme }}">
			<span>
				Kekanto
			</span>
		</h3>
		{% component 'chartdoughnut' value=kekanto %}
	</div>
</div>

