.rp-dashboard-branches{
	display: flex;
	@include grid-collapse;
	.rp-map{
		height: 460px;
		border-radius: 10px;
		border: 1px solid #eee;
		box-shadow: 0 0 20px rgba(black, 0.1);
		flex-shrink: 0;
		@include grid-column(6);
	}
	&__positive,
	&__negative{
		position: relative;
		background: white;
		border-radius: 10px;
		box-sizing: border-box;
		flex-shrink: 0;
		@include grid-column(3);
		&:before{
			content: "";
			position: absolute;
			top: 0;
			left: 40px;
			right: 40px;
			height: 2px;
			background: gray;
		}
		ul{
			padding: 0;
			li{
				list-style: none;
				border-bottom: 1px solid #dedfe2;
				font-size: 14px;
				padding: 10px 20px;
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
		}
	}
	&__name{
	
	}
	&__score{
		font-size: 28px;
		font-weight: 600;
	}
	&__positive{
		&:before{
			background: $c-green;
		}
		.rp-dashboard-branches{
			&__score{
				color: $c-green;
			}
		}
	}
	&__negative{
		&:before{
			background: $c-red;
		}
		.rp-dashboard-branches{
			&__score{
				color: $c-red;
			}
		}
	}
	&__header{
		text-align: center;
	}
	&__pin{
		margin: 20px auto 0;
	}
	&__title{
		font-size: 14px;
		font-weight: 400;
		text-transform: uppercase;
	}

	@include grid-media($smartphone-grid){
		flex-flow: row wrap;
		.rp-map{
			@include grid-column(12);
		}
		.rp-dashboard-branches{
			&__positive,
			&__negative{
				margin-top: 40px;
				@include grid-column(12);
			}
		}
	}
}
