.rp-dashboard-overview{
	display: flex;
	@include grid-collapse;
	&__title{
		font-size: 14px;
		font-weight: 400;
		text-transform: uppercase;
		text-align: center;
		color: #999;
		margin: 0 0 20px;
	}
	&__reputation{
		padding: 20px;
		@include grid-column(3);
		.rp-score{
			margin-top: 60px;
		}
	}
	&__history{
		padding: 20px;
		@include grid-column(9);
	}

	@include grid-media($smartphone-grid){
		flex-flow: row wrap;
		.rp-dashboard-overview{
			&__reputation,
			&__history{
				@include grid-column(12);
			}
			&__reputation{
				margin-bottom: 40px;
				.rp-score{
					margin-top: 0;
				}
			}
		}
	}
}
