.rp-dashboard-reviews{
	display: flex;
	flex-flow: row wrap;
	@include grid-collapse;
	&__items{
		display: flex;
		@include grid-column(8);
	}
	&__item{
		flex: 1 33.33%;
		padding: 20px 40px;
		border-right: 1px solid #dedfe2;
		&:last-child{
			border-right: 0;
		}
		.icon{
			font-size: 30px;
			color: #bbb;
		}
	}
	&__header{
		height: 90px;
		position: relative;
		&:after{
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			display: block;
			width: 30px;
			height: 3px;
			border-radius: 3px;
			background: #dedfe2;
		}
	}
	&__subtitle{
		text-transform: uppercase;
		font-weight: 400;
		font-size: 14px;
		white-space: nowrap;
		margin: 0;
	}
	&__value{
		font-size: 85px;
		font-weight: 500;
		color: $c-blue;
	}
	&__avarage{
		box-shadow: 0 0 10px rgba(black, 0.3);
		padding: 20px;
		box-sizing: border-box;
		.rp-dashboard-reviews{
			&__value{
				display: inline-block;
				position: relative;
				font-size: 65px;
				&:after{
					content: "dias";
					color: $c-blue;
					font-size: 12px;
					position: absolute;
					bottom: 20px;
					left: 100%;
				}
			}
			&__subtitle{
				font-size: 14px;
				display: inline-block;
				padding-right: 20px;
			}
			&__body{
				display: flex;
				align-items: center;
			}
		}
		@include grid-column(4);
		.icon{
			padding-top: 10px;
			font-size: 50px;
			display: block;
			color: #cacaca;
		}
	}
	.rp-dashboard{
		&__title{
			@include grid-column(12);
		}
	}

	@include grid-media($smartphone-grid){
		.rp-dashboard-reviews{
			&__items{
				flex-flow: row wrap;
				margin-bottom: 40px;
				@include grid-column(12);
			}
			&__item{
				border-right: 0;
				border-bottom: 1px solid #dedfe2;
				&:last-child{
					border-bottom: 0;
				}
			}
			&__avarage{
				@include grid-column(12);
			}
		}
	}
}
