==
function onStart () {
	$this['property'] = [
        'value' => [
            'total_respondido' => '50',
            'total_nao_respondido' => '30',
            'tempo_medio_resposta' => '250'
        ]
    ];
}
==

<div class="rp-dashboard-reviews">
	<h2 class="rp-dashboard__title">
		Reviews
	</h2>

	<div class="rp-dashboard-reviews__items rp-dashboard-widget">
		<div class="rp-dashboard-reviews__item">
			<header class="rp-dashboard-reviews__header">
				<span class="icon icon-chat">
				</span>
				<h4 class="rp-dashboard-reviews__subtitle">
					Total<br /> reviews
				</h4>
			</header>
			<span class="rp-dashboard-reviews__value">
				{{property.value.total_respondido + property.value.total_nao_respondido}}
			</span>
		</div>
		<div class="rp-dashboard-reviews__item">
			<header class="rp-dashboard-reviews__header">
				<span class="icon icon-check">
				</span>
				<h4 class="rp-dashboard-reviews__subtitle">
					Total<br /> respondido
				</h4>
			</header>
			<span class="rp-dashboard-reviews__value">
				{{property.value.total_respondido}}
			</span>
		</div>
		<div class="rp-dashboard-reviews__item">
			<header class="rp-dashboard-reviews__header">
				<span class="icon icon-alert">
				</span>
				<h4 class="rp-dashboard-reviews__subtitle">
					Total<br /> rão respondido
				</h4>
			</header>
			<span class="rp-dashboard-reviews__value">
				{{property.value.total_nao_respondido}}
			</span>
		</div>
	</div>

	<div class="rp-dashboard-reviews__avarage rp-dashboard-widget">
		<header class="rp-dashboard-reviews__header">
			<span class="icon icon-clock">
			</span>
		</header>
		<div class="rp-dashboard-reviews__body">
			<h4 class="rp-dashboard-reviews__subtitle">
				Tempo médio<br /> de resposta
			</h4>
			<span class="rp-dashboard-reviews__value">
				{{property.value.tempo_medio_resposta}}
			</span>
		</div>
	</div>
</div>
