{% set options = __SELF__.property('options') %}
{% set selected = __SELF__.property('selected') %}
<div
	class="
		rp-select
		rp-select--{{ __SELF__.property('size') }}
		rp-select--{{ __SELF__.property('inline') ? 'inline' : 'block' }}
	"
	tabindex="0"
	data-multiple="{{ __SELF__.property('multiple') }}"
>
	<div class="rp-select__label">
		{{ __SELF__.property('label') }}
	</div>

	<div class="rp-select__input">
		<span class="rp-select__value">
			{% for key, option in selected %}
				{{ options[key] }}
			{% endfor %}
		</span>
		<span class="icon icon-angle-down">
		</span>
	</div>

	<div class="rp-select__dropdown">
		{% for value, option in options %}
			<label class="rp-select__option">
				<input type="checkbox" name="{{ __SELF__.property('name') }}[]" value="{{ value }}" {{ selected[value] is defined ? 'checked="checked"' : ''  }}>
				<span>
					{{ option }}
				</span>
			</label>
		{% endfor %}
	</div>
</div>
