.rp-select{
	position: relative;
	outline: none;
	cursor: pointer;
	&__input{
		position: relative;
		.icon{
			color: $c-blue;
			font-size: 22px;
			position: absolute;
			right: 0;
			top: 50%;
			transform: translate(0, -50%);
		}
	}
	&__value{
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		border-bottom: 2px solid $c-blue;
		padding: 6px 0;
		display: block;
		font-size: 14px;
		font-weight: 500;
		color: $c-blue;
	}
	&__dropdown{
		position: absolute;
		top: 80%;
		left: 0;
		width: 100%;
		visibility: hidden;
		opacity: 0;
		transition: .3s $ease-primary;
		background: white;
		padding: 10px 0;
		z-index: 50;
		max-width: 300px;
		min-width: 200px;
		border-radius: 10px;
		border: 1px solid rgb(237, 237, 237);
	}
	&__option{
		display: block;
		padding: 10px;
		font-size: 13px;
		cursor: pointer;
		transition: .3s $ease-primary;
		&:hover{
			background: rgb(238, 238, 238);
		}
		span{
			transition: .3s $ease-primary;
		}
		input[type="checkbox"]{
			display: none;
			&:checked {
				+ span{
					color: $c-blue;
				}
			}
		}
	}
	&__header{
		border-bottom: 1px solid lightgray;
		padding-bottom: 10px;
	}
	&__footer{
		border-top: 1px solid lightgray;
		padding-top: 10px;
	}
	&.is-focus{
		.rp-select{
			&__dropdown{
				top: 100%;
				opacity: 1;
				visibility: visible;
			}
		}
	}
	&--inline{
		display: flex;
		flex-flow: row;
		align-items: center;
		justify-content: flex-end;
		.rp-select{
			&__label{
				flex-shrink: 0;
				margin-right: 10px;
			}
			&__input{
				flex: 1;
				max-width: 100%;
			}
		}
	}
	&--sm{
		.rp-select{
			&__label{
				font-size: 12px;
			}
			&__value{
				font-size: 12px;
			}
		}
	}
}
