[text]
[map]
==
<div class="rp-store-form">
	<nav class="rp-store-form__tabs">
		<button class="rp-button rp-store-form__tab is-active rp-button--outline" data-target="#store-fieldset">
			Dados do Estabelecimento
		</button>
		<button class="rp-button rp-store-form__tab" data-target="#store-social">
			Redes Sociais
		</button>
	</nav>

	<div id="store-fieldset" class="rp-store-form__tab-content is-active">
		<div class="rp-store-form__field">
			{% component 'text' label='Nome do Estabelecimento' name='name' %}
			{% component 'text' label='Localização do Estabelecimento' name='location' %}
			{% component 'map' center={lat: 1, lng: 1} %}
		</div>
	</div>

	<div id="store-social" class="rp-store-form__tab-content">
		<div class="rp-store-form__social">
			<img src="{{ 'assets/images/tripadvisor-brand.png' | theme }}">
			<input class="rp-store-form__input" type="text" placeholder="Coloque aqui o usuário ou URL">
		</div>
		<div class="rp-store-form__social">
			<img src="{{ 'assets/images/foursquare-brand.png' | theme }}">
			<input class="rp-store-form__input" type="text" placeholder="Coloque aqui o usuário ou URL">
		</div>
		<div class="rp-store-form__social">
			<img src="{{ 'assets/images/gplace-brand.png' | theme }}">
			<input class="rp-store-form__input" type="text" placeholder="Coloque aqui o usuário ou URL">
		</div>
		<div class="rp-store-form__social">
			<img src="{{ 'assets/images/kekanto-brand.png' | theme }}">
			<input class="rp-store-form__input" type="text" placeholder="Coloque aqui o usuário ou URL">
		</div>
	</div>

	<div class="rp-store-form__footer">
		<button class="rp-store-form__cancel rp-button rp-button--sm">
			Cancelar
		</button>
		<button type="submit" class="rp-store-form__submit rp-button rp-button--sm rp-button--fill">
			Concluir
		</button>
	</div>
</div>
