.rp-store-form{
	width: 750px;
	&__tabs{
		border-bottom: 1px solid lightgray;
		text-align: center;
		padding-top: 20px;
		padding-bottom: 20px;
		@include grid-column(10);
		@include grid-push(1);
	}
	&__tab-content{
		display: none;
		&.is-active{
			display: block;
		}
	}
	&__tab-content{
		display: none;
		&.is-active{
			display: block;
		}
	}
	&__social{
		display: flex;
		align-items: center;
		width: 100%;
		box-sizing: border-box;
		padding: 20px 100px;
		border-bottom: 1px solid lightgray;
		img{
			width: 40px;
			height: auto;
			flex-shrink: 0;
			margin-right: 10px;
		}
	}
	&__input{
		flex: 1 100%;
		height: 40px;
		padding: 0 20px;
		border-radius: 40px;
		background: white;
		border: 1px solid #ebebeb;
		font-size: 13px;
		font-family: 'MontSerrat';
		font-style: italic;
		outline: none;
	}
	&__field{
		padding: 20px 100px;
		clear: both;
	}
	&__footer{
		padding: 20px 100px;
		text-align: right;
	}
	
	@include grid-media($smartphone-grid){
		width: 100%;
		.rp-store-form{
			&__field,
			&__social,
			&__footer{
				padding: 20px 30px;
			}
		}
	}
}
