<div class="rp-landing-sidenav">
	<h4 class="rp-landing-sidenav__title">
		Menu
	</h4>

	<nav class="rp-landing-sidenav__nav">
		<a href="#repoot">
			<img src="/themes/repoot/assets/images/repoot-blink.png" alt="Repoot">
			O Repoot
		</a>
		<a href="#plans">
			<img src="/themes/repoot/assets/images/plans.png" alt="Planos">
			Planos
		</a>
		<a href="#ebook">
			<img src="/themes/repoot/assets/images/ebook.png" alt="E-Book">
			E-Book
		</a>
		<a href="#blog">
			<img src="/themes/repoot/assets/images/blog.png" alt="Blog">
			Blog
		</a>
		<a href="/contact">
			<img src="/themes/repoot/assets/images/contact.png" alt="Contato">
			Contato
		</a>
	</nav>

	<a href="/register" class="rp-landing-sidenav__register">
		Faça sua conta
	</a>
	<a href="/auth" class="rp-landing-sidenav__login">
		Login
	</a>
</div>
