.rp-landing-header{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	border-bottom: 1px solid white;
	z-index: 100;
	transition: .3s $ease-primary;
	&__container{
		display: flex;
		align-items: center;
		@include outer-container;
	}
	&__brand{
		flex: 1;
		font-size: 40px;
		font-weight: 600;
		color: white;
		display: flex;
	}
	&__login{
		margin-left: 20px;
		font-weight: 600;
	}
	&__menu{
		background: $c-green;
		border: 0;
		border-radius: 100px;
		box-shadow: 3px 3px 10px rgba(black, 0.1);
		position: fixed;
		width: 65px;
		height: 65px;
		color: white;
		cursor: pointer;
		outline: none;
		bottom: 20px;
		left: 20px;
		z-index: 100;
		.icon{
			font-size: 30px;
			line-height: 70%;
		}
		small{
			display: block;
			font-family: 'RNSCamelia';
			font-size: 10px;
			margin-top: -3px;
		}
	}
	&__smartphone{
		display: none;
	}

	@include grid-media($desktop-grid){
		&.is-fixed{
			background: $c-blue;
			border-color: transparent;
		}
	}

	@include grid-media($smartphone-grid){
		position: static;
		background: white;
		.rp-landing-header{
			&__container{
				display: none;
			}
			&__smartphone{
				display: block;
			}
			&__brand{
				margin: auto;
				text-align: center;
				padding: 20px;
				border-bottom: 1px solid lightgray;
				img{
					margin: auto;
				}
			}
			&__footer{
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 10px 20px;
				a{
					color: rgb(80, 80, 80);
					font-family: 'RNSCamelia';
					text-decoration: underline;
				}
			}
		}
	}
}
