.rp-landing-sidenav{
	background: rgb(230, 227, 227);
	border-radius: 0 20px 20px 0;
	width: 80%;
	padding: 50px 0;
	visibility: hidden;
	left: -100%;
	top: 0;
	transition: .3s $ease-primary;
	position: fixed;
	z-index: 90;
	display: none;
	&__title{
		font-family: 'RNSCamelia';
		font-size: 36px;
		color: rgb(84, 84, 84);
		padding: 20px;
		margin: 0;
		border-bottom: 1px solid lightgray;
	}
	&__nav{
		padding: 20px 0;
		a{
			display: flex;
			align-items: center;
			font-family: 'RNSCamelia';
			font-size: 22px;
			color: rgb(84, 84, 84);
			padding: 10px 20px;
			img{
				width: 35px;
				height: auto;
				margin-right: 20px;
			}
		}
	}
	&__register,
	&__login{
		font-family: 'RNSCamelia';
		font-size: 22px;
		color: rgb(84, 84, 84);
		display: block;
		padding: 10px 20px;
	}
	&__register{
		text-decoration: underline;
	}
	&.is-active{
		visibility: visible;
		opacity: 1;
		left: 0%;
	}
	@include grid-media($smartphone-grid){
		display: block;
	}
}
