<div class="rp-landing-header">
	<div class="rp-landing-header__container">
		<a href="/" class="rp-landing-header__brand">
			<img src="/themes/repoot/assets/images/repoot-landing-brand.png" alt="Repoot">
		</a>

		{% partial 'landing/landing-nav' %}
	</div>

	<div class="rp-landing-header__smartphone">
		<a href="/" class="rp-landing-header__brand">
			<img src="/themes/repoot/assets/images/repoot-smartphone-brand.png" alt="Repoot" class="rp-landing-header__smartphone">
		</a>

		<div class="rp-landing-header__footer">
			<a href="/register">
				Faça sua conta
			</a>

			<button class="rp-button rp-button--fill rp-landing-nav__login">
				<span class="icon icon-user"></span>
				Login
			</button>
		</div>

		<button class="rp-landing-header__menu">
			<span class="icon icon-menu">
			</span>
			<small>
				Menu
			</small>
		</button>
	</div>

	{% partial 'landing/landing-sidenav' %}
</div>
