.rp-landing-nav{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	a{
		color: white;
		font-family: 'RNSCamelia';
		font-weight: 600;
		font-size: 13px;
		display: inline-block;
		padding: 30px 20px;
		&:hover{
			text-decoration: underline;
		}
	}
	&__login{
		position: relative;
		padding: 10px 50px 10px 70px !important;
		font-weight: 600 !important;
		margin-left: 20px;
		.icon{
			font-size: 26px;
			line-height: 70%;
			position: absolute;
			left: 30px;
			top: 50%;
			transform: translate(0, -50%);
		}
	}

	@include grid-media($smartphone-grid){
		flex-flow: row wrap;
		a{
			padding: 5px 10px;
			font-size: 14px;
		}
		.rp-landing-nav{
			&__menu{
				text-align: center;
			}
		}
	}
}
