<div class="rp-landing-nav">
	<div class="rp-landing-nav__menu">
		<a href="#repoot">
			O Repoot
		</a>
		<a href="#plans">
			Planos
		</a>
		<a href="#ebook">
			E-book
		</a>
		<a href="#blog">
			Blog
		</a>
		<a href="/contact">
			Contato
		</a>
		<a href="/register">
			Faça sua conta
		</a>
	</div>

	<button class="rp-button rp-button--fill rp-landing-nav__login">
		<span class="icon icon-user"></span>
		Login
	</button>
</div>
