.rp-map{
	height: 250px;
}

.rp-infowindow{
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: 'MontSerrat';
	width: 120px;
	span{
		font-size: 30px;
		font-weight: 600;
	}
	&--green{
		span{
			color: $c-green;
		}
	}
	&--red{
		span{
			color: $c-red;
		}
	}
	&--yello{
		span{
			color: $c-yellow;
		}
	}
}
