<div class="rp-review rp-review--{{ __SELF__.property('value').type }} rp-dashboard-widget">
	<div class="rp-review__wrapper">
		<div class="rp-avatar">
			<img src="{{ 'assets/images/tripadvisor-brand.png' | theme }}">
			<span>
				{{ __SELF__.property('value').score }}
			</span>
		</div>
		<div class="rp-review__content">
			<header class="rp-review__header">
				<h3 class="rp-review__title">
					{{ __SELF__.property('value').name }} "{{ __SELF__.property('value').title }}"
				</h3>
				<span class="rp-review__time">
					<span class="icon icon-calendar">
					</span>
					{{ __SELF__.property('value').date }}
				</span>
			</header>
			<div class="rp-review__body">
				<p>
					{{ __SELF__.property('value').content }}
				</p>
			</div>
			<footer class="rp-review__footer">
				<a href="#" class="rp-review__more">
					Responder
				</a>
			</footer>
		</div>
	</div>
</div>
