.rp-review{
	background: white;
	border-radius: 10px;
	padding: 10px 0;
	&__wrapper{
		display: flex;
		align-items: center;
		border-left: 2px solid green;
	}
	&__content{
		padding-right: 20px;
	}
	&__header{
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid #dedfe2;
		padding: 10px 0;
		margin-bottom: 10px;
	}
	&__title{
		font-size: 16px;
		font-weight: 400;
		margin: 0;
		color: #555;
	}
	&__time{
		font-size: 13px;
		color: #555;
		display: inline-flex;
		align-items: center;
		.icon{
			font-size: 24px;
			line-height: 70%;
			margin-right: 10px;
		}
	}
	&__body{
		color: #939393;
		p{
			font-size: 14px;
			line-height: 150%;
		}
	}
	&__footer{
		padding: 10px 0;
	}
	&__more{
		text-transform: uppercase;
		font-size: 12px;
	}
	.rp-avatar{
		margin: 15px 30px;
		max-width: 110px;
		&:after{
			border-width: 2px;
		}
		img{
			position: absolute;
			left: 50%;
			transform: translate(-50%, 15px);
		}
		span{
			font-size: 40px;
			font-weight: 600;
			transform: translate(-50%, -10%);
		}
	}
	&--positive{
		.rp-review{
			&__wrapper{
				border-left-color: $c-green;
			}
		}
		.rp-avatar{
			span{
				color: $c-green;
			}
		}
	}
	&--neutral{
		.rp-review{
			&__wrapper{
				border-left-color: $c-yellow;
			}
		}
		.rp-avatar{
			span{
				color: $c-yellow;
			}
		}
	}
	&--negative{
		.rp-review{
			&__wrapper{
				border-left-color: $c-red;
			}
		}
		.rp-avatar{
			span{
				color: $c-red;
			}
		}
	}

	@include grid-media($smartphone-grid){
		.rp-review{
			&__wrapper{
				flex-flow: row wrap;
				justify-content: center;
				padding: 0 30px;
			}
			&__header{
				flex-flow: row wrap;
			}
			&__content{
				padding-right: 0;
			}
			&__title{
				margin-bottom: 10px;
			}
		}
		.rp-avatar{
			width: 100px;
		}
	}
}
