<div class="rp-plan rp-plan--{{ __SELF__.property('theme') }} {{ __SELF__.property('featured') ? 'is-featured' : '' }}">
	<header class="rp-plan__header">
		<h4 class="rp-plan__title">
			{{ __SELF__.property('title') }}
		</h4>
		<img src="/themes/repoot/assets/images/plan-{{ __SELF__.property('theme') }}.png">
		<span class="icon {{ __SELF__.property('icon') }}"></span>
		<span class="rp-plan__ribbon">Lorem ipsum</span>
	</header>

	<div class="rp-plan__body">
		<ul class="rp-plan__features">
			{% for feature in __SELF__.property('features') %}
				<li>{{ feature }}</li>
			{% endfor %}
		</ul>

		<span class="rp-plan__price">
			{{ __SELF__.property('price') }}
			<small>{{ __SELF__.property('cents') }}</small>
		</span>
	</div>

	<footer class="rp-plan__footer">
		<button class="rp-button rp-button--fill">
			Comprar agora
		</button>
	</footer>
</div>
