.rp-plan{
	border: 1px solid lightgray;
	border-radius: 15px;
	background: white;
	transition: .3s $ease-primary;
	overflow: hidden;
	position: relative;
	&__header{
		border-bottom: 1px solid lightgray;
		text-align: center;
		height: 200px;
	}
	&__title{
		font-size: 26px;
		font-family: 'RNSCamelia';
	}
	&__body{
		padding: 20px;
		text-align: center;
	}
	&__features{
		line-height: 200%;
		padding: 0;
		li{
			list-style: none;
			font-size: 13px;
		}
	}
	&__price{
		font-size: 64px;
		font-weight: 600;
		font-family: 'RNSCamelia';
		position: relative;
		&:before{
			content: "R$";
			position: absolute;
			right: 100%;
			top: 50%;
			font-size: 24px;
			transform: translate(-10px, -50%);
		}
		small{
			position: absolute;
			top: 0;
			left: 100%;
			font-size: 40px;
			&:before{
				content: ",";
			}
		}
	}
	&__footer{
		padding: 40px 20px;
		border-top: 1px solid lightgray;
		text-align: center;
	}
	&__ribbon{
		position: absolute;
		top: 25px;
		right: -65px;
		font-size: 13px;
		font-weight: 600;
		padding: 11px;
		width: 200px;
		transform: rotate(45deg);
		display: none;
	}
	.rp-button{
		width: 250px;
		font-weight: 600;
	}

	&.is-featured{
		.rp-plan{
			&__ribbon{
				display: block;
			}
		}
	}

	&:hover{
		background: rgba(black, 0.05);
		box-shadow: 0 20px 20px rgba(black, 0.1);
	}

	@each $theme, $color in (
		green: $c-green,
		yellow: $c-yellow,
		red: $c-red
	) {
		&--#{$theme}{
			.rp-plan{
				&__title,
				&__price{
					color: $color;
				}
				&__ribbon{
					background: $color;
				}
			}
			.rp-button{
				background: $color;
			}
		}
	}

	@include grid-media($smartphone-grid){
		.rp-plan{
			&__header{
				height: 140px;
			}
			&__title{
				margin: 10px 0;
				font-size: 18px;
			}
			&__body{
				padding: 0 0 20px;
			}
			&__price{
				font-size: 50px;
				small{
					font-size: 30px;
				}
			}
			&__footer{
				padding: 20px;
			}
		}
	}
}
